{# Included in the scope of user.twig #}

<div id="settings" class="info-group">
  <div class="form-wrap" id="password-form">
    <h4>Datos de usuario</h4>
    <form id="settings-form" action="" method="POST">
      <div class="form-field validated disabled" fieldname="Nombre de usuario">
        <input disabled required value="{{ target_user.username }}" autocomplete="off">
        <i class="fas fa-user" aria-hidden="true"></i>
      </div>
      <div class="form-field validated disabled" fieldname="Correo electrónico">
        <input disabled required value="{{ target_user.email }}" autocomplete="off">
        <i class="fas fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="form-field validated" fieldname="Contraseña actual">
        <input required name="password-old" type="password" class="form_input" value="" autocomplete="off">
        <i class="fas fa-key" aria-hidden="true"></i>
      </div>
      <div class="form-field validated" fieldname="Nueva contraseña">
        <input required name="password-new" type="password" class="form_input" value="" autocomplete="off">
        <i class="fas fa-key" aria-hidden="true"></i>
      </div>
      <div class="form-field validated" fieldname="Repetir contraseña">
        <input required name="password-confirmation" type="password" class="form_input" value="" autocomplete="off">
        <i class="fas fa-key" aria-hidden="true"></i>
      </div>

      <button type="submit">Cambiar contraseña</button>
    </form>
  </div>

  <div class="form-wrap" id="user-preferences-form">
    <form action="" method="POST">
      <h4>Tabla de traducción</h4>
      <div id="font-family-preview" class="font-family-{{auth.prefs.translation_font}}">
        <p>Es el vecino el que elige al alcalde, y es el alcalde</p>
        <p>el que quiere que sean los vecinos el alcalde.</p>
      </div>
      <div class="form-field dropdown-field" fieldname="Estilo de letra">
        <i class="fas fa-chevron-down dropdown"></i>
        {% set font_list = [
          ["rubik", "Rubik (predefinida)"],
          ["inter", "Inter"],
          ["open-sans", "Open Sans"],
          ["roboto", "Roboto"],
          ["ubuntu", "Ubuntu"],
        ] %}

        <select required name="font-family" id="font-family">
          {% for font in font_list %}
            <option value="{{font[0]}}" {% if font[0] == auth.prefs.translation_font %}selected{% endif %}
              >{{font[1]}}</option>
          {% endfor %}
        </select>
        <i class="fas fa-font" aria-hidden="true"></i>
      </div>

      <br/>

      <h4>Color de la página</h4>
      <div id="color-swatch-preview" class="{{auth.prefs.color_swatch}}"></div>
      <div class="form-field dropdown-field" fieldname="Color">
        <i class="fas fa-chevron-down dropdown"></i>
        {% set color_swatch_list = [
          ["normal", "Normal"],
          ["antique-blue", "Azul antíguo"],
        ] %}

        <select required name="color-swatch" id="color-swatch">
          {% for color_swatch in color_swatch_list %}
            <option value="{{color_swatch[0]}}" {% if color_swatch[0] == auth.prefs.color_swatch %}selected{% endif %}
              >{{color_swatch[1]}}</option>
          {% endfor %}
        </select>
        <i class="fas fa-palette" aria-hidden="true"></i>
      </div>

      <button type="submit">Guardar</button>
    </form>
  </div>
</div>
