{% import 'macros/assets.twig' as assets %}
<!DOCTYPE html>
<html>
<head>
  <base href="{{ SITE_URL }}/">

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock %}
  {% if ENVIRONMENT_NAME == 'production' %}
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  {% else %}
    <link rel="shortcut icon" type="image/png" href="favicon_nonprod.png"/>
    {% set logged_in = true %}
  {% endif %}

  <script type="text/javascript" src="js/hotload.js?{{ 'now'|date('YmdHi') }}"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
  {% block css %}{% endblock %}

  <title>
    {% if auth.alert_count > 0 %}({{ auth.alert_count}}){% endif %}
    {% block title %}{% endblock %} - Subtitulamos.tv - Subtítulos de series
  </title>
</head>
<body>
  <div id="base" class="{{ auth.user is null ? 'w-header' }}">
    {# Background fade pan that displays when the login/reg area is open #}
    <div id="overlay" class="overlay-wrap hidden">
      <div class="overlay-content bounce-in">
        <div class="form-wrap w-box-shadow">
          <button id="overlay-close" type="button" class="close-button">
            <i class="fas fa-times"></i>
          </button>
          <div id="overlay-content">
            {% block overlay %}{% endblock %}
          </div>
        </div>
      </div>
      <div id="overlay-fade" class="fade-pan"></div>
    </div>
    {% if auth.user is not null %}
      <nav id="control-panel" class="no-scroll-bar">
        <div id="control-panel-top-section">
          <div id="control-panel-logo-wrap">
            <svg id="logo-miniature" height="30" viewBox="0 0 720 720">
              <path d="M500,480C373.919,603.693,144.292,621.974,115.091,623.822A359,359,0,0,1,0,360C0,161.178,161.178,0,360,0A358.39,358.39,0,0,1,576.516,72.38C594.276,124.682,651.193,331.67,500,480ZM456,236H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,236Zm0,104H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,340ZM564,504c101.048-137.763,87.982-313.7,81.9-362.757a359.955,359.955,0,0,1-24.222,465.966L664,688l-94.3-35.364A358.341,358.341,0,0,1,360,720a362.772,362.772,0,0,1-54.959-4.17C340.3,698.95,471.256,630.442,564,504Z"/>
            </svg>
            <span id="logo-text" v-if="isOpen" class="text bold">subtitulamos.tv</span>
          </div>
          <div id="control-panel-search" v-if="isOpen">
              <button id="search-subtitles" title="Buscar"  class="text small"><i id="search_subtitles" class="fa fa-search" aria-hidden="true"></i></button>
              <input ref="cpSearchInput" type="text" class="text tiny" placeholder="Busca una serie... Ej.: Westworld" autocomplete="off" />
          </div>
          <button v-else class="control-panel-button search" v-on:click="focusSearchInput">
            <i class="fa fa-search"></i>
          </button>
          <button class="control-panel-button selected">
            <i class="fas fa-bookmark"></i>
            <span v-if="isOpen" class="text small">Guardados</span>
          </button>
          <button class="control-panel-button">
            <i class="fas fa-users-cog"></i>
            <span v-if="isOpen" class="text small">Panel de moderador</span>
          </button>
          <button class="control-panel-button">
            <i class="fas fa-list-ul"></i>
            <span v-if="isOpen" class="text small">índice de séries</span>
          </button>
          <button class="control-panel-button">
            <i class="fas fa-file-import"></i>
            <span v-if="isOpen" class="text small">Subir subtítulo</span>
          </button>
        </div>
        <div id="control-panel-bottom-section">
          <button class="control-panel-button" v-on:click="updateControlPanelStatus">
            <i v-if="isOpen" class="fas fa-chevron-circle-left"></i>
            <i v-else class="fas fa-chevron-circle-right"></i>
            <span v-if="isOpen" class="text small">Minimizar</span>
          </button>
          <button class="control-panel-button">
            <i class="fas fa-user-circle"></i>
            <span v-if="isOpen" class="text small">Mi perfil</span>
          </button>
          <button class="control-panel-button">
            <i class="fas fa-book"></i>
            <span v-if="isOpen" class="text small">Normas</span>
          </button>
          <button class="control-panel-button">
            <i class="fas fa-power-off"></i>
            <span v-if="isOpen" class="text small">Cerrar sesión</span>
          </button>
        </div>
      </nav>
    {% else %}
      <header>
        <div id="header-logo-wrap">
          <svg id="logo-miniature" height="40" viewBox="0 0 720 720">
            <path d="M500,480C373.919,603.693,144.292,621.974,115.091,623.822A359,359,0,0,1,0,360C0,161.178,161.178,0,360,0A358.39,358.39,0,0,1,576.516,72.38C594.276,124.682,651.193,331.67,500,480ZM456,236H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,236Zm0,104H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,340ZM564,504c101.048-137.763,87.982-313.7,81.9-362.757a359.955,359.955,0,0,1-24.222,465.966L664,688l-94.3-35.364A358.341,358.341,0,0,1,360,720a362.772,362.772,0,0,1-54.959-4.17C340.3,698.95,471.256,630.442,564,504Z"/>
          </svg>
          <span id="logo-text" class="text bold">subtitulamos.tv</span>
        </div>
        <nav id="top-links">
          <button class="text tiny spaced" id="shows-index"><a href="/shows">ÍNDICE DE SERIES</a></button>
          <button class="text tiny spaced" id="register">REGISTRO</button>
          <button class="text tiny spaced" id="login">INICIAR SESIÓN</button>
          <button id="homepage-menu-button"><i class="fas fa-bars"></i></button>
        </nav>
      </header>
    {% endif %}
    <div id="page-container">
      {% if auth.user is not null and auth.user.ban %}
        <div class="ban-banner">
          <b>Aviso</b>: Tu cuenta se encuentra baneada {% if auth.user.ban.until|date('Y') > "+5 years"|date('Y') %}de forma permanente{% else %}temporalmente hasta el {{ auth.user.ban.until|date('d/M/Y H:i (e)') }}{% endif %}
          por violación de las normas de la web.<br/>
          Las cuentas baneadas no pueden realizar acciones en la página que requieran identificación (traducir, comentar, subir subtítulos...).
        </div>
      {% endif %}

      {% block content %}{% endblock %}

      <footer id="footer">
        <div id="footer-content">
          <div id="in-memory-of">
            <div id="in-memory-of-content">
              <p>en memoria de</p>
              <p>SUBTITULOS.ES</p>
              <p>(2008-2015)</p>
            </div>
          </div>
          <div id="page-navigation">
            <p class="text light bold small">&#169; subtitulamos.tv</p>
            <nav id="page-links" class="text thin tiny">
              <a class="text light" href="/html/" target="_blank">GitHub</a>
              <a class="text light" href="/js/">Normas de traducción</a>
              <a class="text light" href="/css/" target="_blank">Foro</a>
              <a class="text light" href="/python/">índice de séries</a>
            </nav>
            <nav class="social-networks">
              <a class="text light" href="https://foro.subtitulamos.tv/" title="Foro" target="_blank"><i class="fab fa-forumbee"></i></a>
              <a class="text light" href="https://www.facebook.com/subtitulamos.tv" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="text light" href="https://twitter.com/subtitulamostv" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
              <a class="text light" href="https://t.me/subtitulamostv" title="Telegram" target="_blank"><i class="fab fa-telegram-plane"></i></a>
              <a class="text light" href="https://github.com/subtitulamos/subtitulamos" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
              <a class="text light" href="/rss" title="RSS" target="_blank"><i class="fas fa-rss"></i></a>
            </nav>
          </div>
        </div>
      </footer>
    </div>
  </div>

  {# Load js last #}
  {{ assets.js('vendor') }}
  {{ assets.js('app') }}
  {% include 'live_reload.twig' %} {# Include live reloading script (only if option set) #}

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
    const Toast = Swal.mixin({
      toast: true,
      position: 'bottom-start',
      showConfirmButton: false,
      timer: 4000
    });
    const Toasts = {
      error: Toast.mixin({icon: 'error', timer: 8000}),
      success: Toast.mixin({icon: 'success', timer: 5000}),
      info: Toast.mixin({icon: 'info', timer: 5000})
    };
  </script>
  <template id='tpl-login'>
    <h2>Inicio de sesión</h2>
    <form action="" id="login-form">
      <div class="form-field text small">
        <input type="text" id="username" placeholder="Nombre de usuario">
        <i class="fas fa-user"></i>
      </div>
      <div class="form-field text small">
        <input type="password" id="password" placeholder="Contraseña">
        <i class="fas fa-key"></i>
      </div>
      <button type="submit" class="text light">Iniciar sesión</button>
    </form>
  </template>
  {% block scripts %}{% endblock %}
</body>
