{% import 'macros/assets.twig' as assets %}
<!DOCTYPE html>
<html>
<head>
  <base href="{{ SITE_URL }}/">

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock %}
  {% if ENVIRONMENT_NAME == 'production' %}
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  {% else %}
    <link rel="shortcut icon" type="image/png" href="favicon_nonprod.png"/>
    {% set logged_in = true %}
  {% endif %}

  <script type="text/javascript" src="js/hotload.js?{{ 'now'|date('YmdHi') }}"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
  {% block css %}{% endblock %}

  <title>
    {% if auth.alert_count > 0 %}({{ auth.alert_count}}){% endif %}
    {% block title %}{% endblock %} - Subtitulamos.tv - Subtítulos de series
  </title>
</head>
<body>
  <div id="base" class="{{ auth.user is null ? 'w-header' }}">
    {# Background fade pan that displays when the login/reg area is open #}
    <div id="overlay" class="overlay-wrap hidden">
      <div class="overlay-container w-box-shadow bounce-in">
        <button id="overlay-close" type="button" class="close-button">
          <i class="fas fa-times"></i>
        </button>
        <div id="overlay-content">

        </div>
      </div>
      <div id="overlay-fade" class="fade-pan"></div>
    </div>
    {% if auth.user is not null %}
      <nav id="control-panel" class="no-scroll-bar">
        <div id="control-panel-top-section" class="control-panel-section">
          <a href="/">
            <div id="control-panel-logo-wrap">
              <svg id="logo-miniature" height="30" viewBox="0 0 720 720">
                <path d="M500,480C373.919,603.693,144.292,621.974,115.091,623.822A359,359,0,0,1,0,360C0,161.178,161.178,0,360,0A358.39,358.39,0,0,1,576.516,72.38C594.276,124.682,651.193,331.67,500,480ZM456,236H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,236Zm0,104H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,340ZM564,504c101.048-137.763,87.982-313.7,81.9-362.757a359.955,359.955,0,0,1-24.222,465.966L664,688l-94.3-35.364A358.341,358.341,0,0,1,360,720a362.772,362.772,0,0,1-54.959-4.17C340.3,698.95,471.256,630.442,564,504Z"/>
              </svg>
              <span id="logo-text" class="text bold">subtitulamos.tv</span>
            </div>
          </a>
          <div id="control-panel-search" class="search-bar-container">
            <button id="search-subtitles" title="Buscar"  class="text small"><i id="search_subtitles" class="fa fa-search" aria-hidden="true"></i></button>
            <input id="search-input" data-search-bar-target='panel-search-results' type="text" class="text tiny" placeholder="Busca una serie... Ej.: Westworld" autocomplete="off" />
            <ul class="search-results w-box-shadow hidden" id='panel-search-results'></ul>
          </div>
          <button class="control-panel-button search" id='search-icon'>
            <i class="fa fa-search"></i>
          </button>
          <button class="control-panel-button">
            <i class="fas fa-bookmark"></i>
            <span class="text small">Guardados</span>
          </button>
          {% if auth.has_role('ROLE_MOD') %}
            <a class="control-panel-button" page="/panel" href='/panel/alerts'>
              <i {% if auth.alert_count > 0 %}data-alerts="{{ auth.alert_count }}"{% endif %} class="fas fa-users-cog"></i>
              <span class="text small">Panel de moderador</span>
            </a>
            <div class="control-panel-sub-section">
              <a class="control-panel-button" href='/panel/alerts'>
                <i {% if auth.alert_count > 0 %}data-alerts="{{ auth.alert_count }}"{% endif %} class="fas fa-bell"></i>
                <span>Alertas</span>
              </a>
              <a class="control-panel-button" href='/panel/logs'>
                <i class="fas fa-clipboard-list"></i>
                <span>Log de eventos</span>
              </a>
              <a class="control-panel-button" href='/panel/userlist'>
                <i class="fas fa-user-friends"></i>
                <span>Listado de usuarios</span>
              </a>
              <a class="control-panel-button" href='/panel/banlist'>
                <i class="fas fa-user-slash"></i>
                <span>Usuarios baneados</span>
              </a>
            </div>
          {% endif %}
          <a class="control-panel-button" page="/shows" href='/shows'>
            <i class="fas fa-list-ul"></i>
            <span class="text small">Índice de series</span>
          </a>
          <a class="control-panel-button" page="/upload" href='/upload'>
            <i class="fas fa-file-import"></i>
            <span class="text small">Subir subtítulo</span>
          </a>
        </div>
        <div id="control-panel-bottom-section" class="control-panel-section">
          <button class="control-panel-button" id="control-panel-minimize-toggle">
            <i class="fas fa-chevron-circle-left"></i>
            <i class="fas fa-chevron-circle-right"></i>
            <span class="text small">Minimizar</span>
          </button>
          <a class="control-panel-button" page="/me" href='/me'>
            <i class="fas fa-user-circle"></i>
            <span class="text small">Mi perfil</span>
          </a>
          <a class="control-panel-button" page="/rules" href='/rules'>
            <i class="fas fa-book"></i>
            <span class="text small">Normas</span>
          </a>
          <a class="control-panel-button" href='/logout?return-path={{current_url()}}'>
            <i class="fas fa-power-off"></i>
            <span class="text small">Cerrar sesión</span>
          </a>
        </div>
      </nav>
    {% else %}
      <header>
        <a href='/'>
          <div id="header-logo-wrap">
            <svg id="logo-miniature" height="40" viewBox="0 0 720 720">
              <path d="M500,480C373.919,603.693,144.292,621.974,115.091,623.822A359,359,0,0,1,0,360C0,161.178,161.178,0,360,0A358.39,358.39,0,0,1,576.516,72.38C594.276,124.682,651.193,331.67,500,480ZM456,236H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,236Zm0,104H172a32,32,0,0,0,0,64H456A32,32,0,0,0,456,340ZM564,504c101.048-137.763,87.982-313.7,81.9-362.757a359.955,359.955,0,0,1-24.222,465.966L664,688l-94.3-35.364A358.341,358.341,0,0,1,360,720a362.772,362.772,0,0,1-54.959-4.17C340.3,698.95,471.256,630.442,564,504Z"/>
            </svg>
            <span id="logo-text" class="text bold">subtitulamos.tv</span>
          </div>
        </a>
        <nav id="top-links">
          <button class="text tiny spaced" id="shows-index"><a href="/shows">ÍNDICE DE SERIES</a></button>
          <button class="text tiny spaced" id="register">REGISTRO</button>
          <button class="text tiny spaced" id="login">INICIAR SESIÓN</button>
          <button id="homepage-menu-button"><i class="fas fa-bars"></i></button>
        </nav>
      </header>
    {% endif %}
    <div id="page-container">
      {% block content %}{% endblock %}

      <footer id="footer">
        <div id="footer-content">
          <div id="in-memory-of">
            <div id="in-memory-of-content">
              <p>en memoria de</p>
              <p>SUBTITULOS.ES</p>
              <p>(2008-2015)</p>
            </div>
          </div>
          <div id="page-navigation">
            <p class="text light bold small">&#169; subtitulamos.tv</p>
            <nav id="page-links" class="text thin tiny">
              <a class="text light" href="https://github.com/subtitulamos/subtitulamos" target="_blank">GitHub</a>
              <a class="text light" href="/rules">Normas de traducción</a>
              <a class="text light" href="https://foro.subtitulamos.tv/" target="_blank">Foro</a>
              <a class="text light" href="/shows">Índice de series</a>
            </nav>
            <nav class="social-networks">
              <a class="text light" href="https://foro.subtitulamos.tv/" title="Foro" target="_blank"><i class="fab fa-forumbee"></i></a>
              <a class="text light" href="https://www.facebook.com/subtitulamos.tv" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a class="text light" href="https://twitter.com/subtitulamostv" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
              <a class="text light" href="https://t.me/subtitulamostv" title="Telegram" target="_blank"><i class="fab fa-telegram-plane"></i></a>
              <a class="text light" href="https://github.com/subtitulamos/subtitulamos" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
              <a class="text light" href="/rss" title="RSS" target="_blank"><i class="fas fa-rss"></i></a>
            </nav>
          </div>
        </div>
      </footer>
    </div>
  </div>

  {# Load js last #}
  {{ assets.js('vendor') }}
  {{ assets.js('app') }}
  {% include 'live_reload.twig' %} {# Include live reloading script (only if option set) #}

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
    const Toast = Swal.mixin({
      toast: true,
      position: 'bottom-end',
      showConfirmButton: false,
      timer: 4000
    });
    const Toasts = {
      error: Toast.mixin({icon: 'error', timer: 8000}),
      success: Toast.mixin({icon: 'success', timer: 5000}),
      info: Toast.mixin({icon: 'info', timer: 5000})
    };
  </script>
  <template id='tpl-login'>
    <h3>Inicio de sesión</h3>
    <div class="form-wrap">
      <form id="login-form">
        <div class="form-field text small" fieldname="Nombre de usuario">
          <input type="text" id="username" required autocomplete="username">
          <i class="fas fa-user"></i>
        </div>
        <div class="form-field text small" fieldname="Contraseña">
          <input type="password" id="password" required autocomplete="current-password">
          <i class="fas fa-key"></i>
        </div>
        <div class="form-error" id='login-error'></div>
        <button id='login-button' type="submit" class="text light">Iniciar sesión</button>
      </form>
    </div>
  </template>
  <template id='tpl-register'>
    <h3>Registro</h3>
    <div class="form-wrap">
      <form id="register-form" action="/register" method="POST">
        <div class="form-field text small validated" fieldname="Nombre de usuario">
          <input type="text" name="username" required autocomplete="off">
          <i class="fas fa-user"></i>
        </div>
        <div class="form-field text small validated" fieldname="Contraseña">
          <input type="password" name="password" required autocomplete="off">
          <i class="fas fa-key"></i>
        </div>
        <div class="form-field text small validated" fieldname="Confirmar contraseña">
          <input type="password" name="password-confirmation" required autocomplete="off">
          <i class="fas fa-key"></i>
        </div>
        <div class="form-field text small validated" fieldname="Correo electrónico">
          <input type="email" name="email" required>
          <i class="fas fa-envelope"></i>
        </div>
        <div id="register-checkbox" class="checkbox-field">
          <div class="checkbox">
            <i class="fas fa-check"></i>
            <input type='checkbox' name="terms" required>
          </div>
          Acepto las reglas y las condiciones generales de uso del sitio web
        </div>
        <div class="form-error" id='register-error'></div>
        <button id='register-button' type="submit" class="text light">Registrarme</button>
      </form>
    </div>
  </template>
  {% block scripts %}{% endblock %}
</body>
