<template id="subtitle-properties-{{sub.id}}">
  <div class="form-wrap">
    <form action="subtitles/{{sub.id}}/properties" method="POST">
      <h3>Propiedades del subtítulo</h2>
      <div class='form-field validated' fieldname="Nombre de versión">
        <input id="vname" type="text" class="form_input"
          name="vname" value="{{ sub.version.name }}" required>
        <i class="fas fa-code-branch"></i>
      </div>

      <div class='form-field validated' fieldname="Comentario de versión">
        <input id="vcomment" type="text" class="form_input"
          name="vcomment" value="{{ sub.version.comments }}" required>
        <i class="fas fa-comment"></i>
      </div>

      <div class='form-field validated' fieldname="Idioma">
        <select name="lang" id="lang" class="form_input" required>
          <option value="" disabled>Selecciona un idioma</option>
          {% for lid, lcode in LANG_LIST %}
            <option value="{{ lcode }}" {% if lang == lcode %}selected{% endif %}>{{ LANG_NAMES[lcode] }}</option>
          {% endfor %}
        </select>
        <i class="fas fa-globe"></i>
      </div>

      <button id="save-edit" type="submit" class='button button-fat'>Guardar</button>
    </form>
  </div>
</template>
