{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}{{ episode.fullname }}{% endblock %}
{% block css %}
  {{ assets.css('episode') }}
{% endblock %}

{% block content %}
<div class="content">
  <div id="show-info-header">
    <h1 class="blue-a">{{ episode.show.name }}</h1>
    <div id="season-line">
      <span class="text bold spaced-wide">TEMPORADA</span>
      <div id="season-choices">
        {% for season in season_data %}
          <a href="{{season.url}}" class="choice {% if episode.season == season.number %}selected{% endif %}">{{season.number}}</a>
        {% endfor %}
      </div>
    </div>
    <div id="episode-line">
      <span class="text bold spaced-wide">EPISODIO</span>
      <div id="episode-choices">
        {% for season_ep in season_data[episode.season].episodes %}
          <a href="{{season_ep.url}}" class="choice {% if episode.number == season_ep.number %}selected{% endif %}">{{season_ep.number}}</a>
        {% endfor %}
      </div>
    </div>
    <div id="episode-header">
      <div id="episode-name">
        <h3 class="blue-a">{{ episode.name }}</h3>
        <div class="blue-b text small">({{ episode.season }}x{{ "%02d"|format(episode.number) }})</div>
      </div>
      <div id="episode-buttons" class="text tiny">
        <a class="episode-button" href='/episodes/{{ episode.id }}/resync' class="text tiny blue-a">
          Subir resincronización
        </a>
        <button class="episode-button translate-subtitle">
          + Nuevo idioma
        </button>
      </div>
    </div>
    <div id="download-count" class="text tiny">
      <i class="fas fa-arrow-alt-circle-down"></i>
      <span id="count" class="text bold">{{ downloads|number_format(0, '.', ' ') }}</span>
      <span >descargas</span>
    </div>
  </div>
  <div id="languages">
    {% for lang, subs in langs %}
      <div class="language-container w-box-shadow">
        <button class="collapser-button blue-a">
          <i class="fas fa-chevron-up"></i>
        </button>

        <div class="text small bold blue-a language-name">{{ lang }}</div>

        <div class="language-content">
          {% for sub in subs %}
            {% if sub.progress < 20 %}
              {% set progress_class = '019' %}
            {% elseif sub.progress < 50 %}
              {% set progress_class = '2049' %}
            {% elseif sub.progress < 70 %}
              {% set progress_class = '5069' %}
            {% elseif sub.progress < 80 %}
              {% set progress_class = '7079' %}
            {% elseif sub.progress < 90 %}
              {% set progress_class = '8089' %}
            {% elseif sub.progress < 100 %}
              {% set progress_class = '9099' %}
            {% elseif sub.progress >= 100 %}
              {% set progress_class = '100' %}
            {% endif %}

            {% set pause_class = sub.pause ? 'paused' : '' %}
            {% set can_download = auth.has_role('ROLE_TT') or (not sub.pause and sub.progress == 100) %}

            <div class="version-container">
              <p class="text mini">versión</p>
              <p class="text tiny spaced bold">{{ sub.version.name }}</p>
              <div class="version-info">
                <div class="version-buttons">
                  {% if can_download %}
                  <a href="/subtitles/{{ sub.id }}/download">
                  {% endif %}
                    <div class="download-button
                      {% if not can_download %}unavailable{% endif %}"
                      data-hint="Descargar subtitulo">
                      <i class="far fa-arrow-alt-circle-down"></i>
                    </div>
                  {% if can_download %}
                  </a>
                  {% endif %}
                  <a href="/subtitles/{{ sub.id }}/translate">
                    <div class="edit-button"
                      data-hint="Colaborar en la traducción">
                      <i class="fas fa-pencil-alt"></i>
                    </div>
                  </a>
                </div>
                <div class="progress-bar-container">
                  {% if sub.directUpload %}
                    <div class="subtitle-uploader">
                      <span class="text mini">
                        {% if not sub.resync %}
                        ORIGINAL
                        {% else %}
                        RESINCRONIZADO
                        {% endif %}
                      </span>
                      <a href="/users/{{ sub.version.user.id }}" class="uploader_name text tiny bold blue-a">
                        <i class="fas fa-file-import"></i>
                        {{ sub.version.user.username }}
                      </a>
                    </div>
                  {% else %}
                    <div class="progress-bar {{ pause_class }}">
                      <div class="progress progress_{{ progress_class }}"
                        style="width: {{ max(sub.progress//1, 7) }}%">
                      </div>
                    </div>
                  {% endif %}
                  <div class="more-info">
                    {% if sub.directUpload %}
                    <span class="text tiny">
                      <i class="fa fa-comment" aria-hidden="true"></i> {{ sub.version.comments }}
                    </span>
                    {% else %}
                      <span class="text tiny bold percentage-value">
                        {{ sub.progress // 1}}%
                      </span>
                      {% if sub.pause %}
                        {% if sub.progress >= 100 %}
                          <span data-hint='¡Que esté traducido no implica necesariamente que esté bien! Nuestro objetivo es sacar buenos subtítulos, no ser los más rápidos'>
                            (En revisión)
                          </span>
                        {% elseif sub.progress >= 90 %}
                          <span data-hint='El subtítulo no estará inmediatamente disponible al alcanzar el 100% traducido, sino solo cuando se termine la revisión del mismo'>
                            (Pendiente de revisión)
                          </span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                <div class="more-options">
                  <div class="fade-pan hidden"></div>
                  <div class="ellipsis-wrapper">
                    <i class="fas fa-ellipsis-v"></i>
                  </div>
                  <div class="more-options-list w-box-shadow">
                    {% if auth.has_role('ROLE_TT') %}
                      {% if sub.pause %}
                        <a href="/subtitles/{{ sub.id }}/unpause">
                          <div class="option">Resumir</div>
                        </a>
                      {% else %}
                        <a href="/subtitles/{{ sub.id }}/pause">
                          <div class="option">Pausar</div>
                        </a>
                      {% endif %}
                    {% endif %}
                    {% if auth.has_role('ROLE_MOD') %}
                      <a data-action="delete" data-id="{{ sub.id }}">
                        <div class="option">Borrar</div>
                      </a>
                      <a href='/subtitles/{{ sub.id }}/hammer'>
                        <div class="option">Banear</div>
                      </a>
                      <a href='/subtitles/{{ sub.id }}/properties'>
                        <div class="option">Propriedades</div>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="comments-container">
    {% verbatim %}
    <div class="text bold comment-header">Comentarios ({{comments.length}})</div>
    {% endverbatim %}
    <comment v-for="comment in comments"
        :key="comment.id"
        :id="comment.id"
        :user="comment.user"
        :base-text="comment.text"
        :published-at="comment.published_at"
        :pinned="comment.pinned"
        @remove="remove"
        @pin="pin"
        @save="save"
      >
    </comment>
    <div class="no-comments" v-if="comments.length == 0">Nadie ha dejado su comentario aún.</div>
    <div id="comment-pages-line">
      <span class="text bold spaced-wide">PAGINA</span>
      <div id="comment-pages">
        {% for season in season_data %}
          <a href="{{season.url}}" class="choice {% if episode.season == season.number %}selected{% endif %}">{{season.number}}</a>
        {% endfor %}
      </div>
    </div>

    <div class='newcomment-box'>
      {% if auth.logged %}
        {% verbatim %}
        <div class="open-comment">
          <textarea id="new-comment"  rows="5" v-model="newComment" class="textarea" placeholder="Escribe aquí tu comentario..." resizable="false"></textarea>

          <div
            class='comment-char-counter text tiny'
            :class='{
              "normal-count": newComment.length <= maxCommentLength*0.9,
              "close-to-max": newComment.length > maxCommentLength*0.9 && newComment.length <= maxCommentLength,
              "too-many": newComment.length > maxCommentLength
            }'
          >
            <span id='comment-char-count'>{{ newComment.length < 1000 ? newComment.length : 999 }}
            </span> / <span id='comment-max-chars'>{{ maxCommentLength }}</span>
          </div>

          <button class="save-comment" @click="publishComment"
            :class="{'hidden': newComment == '',
              'is-loading': submittingComment,
              'is-primary': newComment.length <= maxCommentLength,
              'is-danger': newComment.length > maxCommentLength}"
            :disabled="newComment.length > maxCommentLength"
            @click="publishComment">
            <i class="fab fa-telegram-plane"></i>
            <span class="text mini spaced">ENVIAR</span>
          </button>
        </div>
        {% endverbatim %}
      {% else %}
        <div class="open-comment">
          <textarea id="new-comment" rows="1" class="textarea" disabled>Debes estar identificado para poder dejar comentarios</textarea>
        </div>
      {% endif %}
    </div>
  </div>

  {# TODO: Handle this #}
  <div id="new-translation" class="hidden">
    <div class="translate_subtitle subtitle-action hint--bottom hint--rounded" data-hint="Abrir una nueva traducción">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>

    <div id="new-translation-opts" class="hidden">
      <form action="/subtitles/translate" method="POST">
        <input type="hidden" name="episode" value="{{ episode.id }}" />
        <select name="lang" id="translate-to-lang">
          {% for lid, lcode in LANG_LIST %}
            {% if langs[LANG_NAMES[lcode]] is not defined %}
              <option value="{{ lcode }}">{{ LANG_NAMES[lcode] }}</option>
            {% endif %}
          {% endfor %}
        </select>

        <button type="submit" id="open-translation">Abrir traducción</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var userId = {{ auth.user ? auth.user.id : 0 }};
    var epId = {{ episode.id }};
    var MAX_USER_EDIT_SECONDS = {{ constant('MAX_USER_EDIT_SECONDS') }};
    var canDeleteComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
    var canEditComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
    var canPinComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
  </script>
  {{ assets.js('episode') }}
{% endblock %}
