{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}{{ episode.fullname }}{% endblock %}
{% block css %}
  {{ assets.css('episode') }}
{% endblock %}

{% block content %}
<div class="content">
  <div id="show-info-header">
    <h1 class="blue-a">{{ episode.show.name }}</h1>
    <div id="season-line">
      <span class="text bold spaced-wide">TEMPORADA</span>
      <div id="season-choices">
        {% for season in season_data %}
          <a href="{{season.url}}" class="choice {% if episode.season == season.number %}selected{% endif %}">{{season.number}}</a>
        {% endfor %}
      </div>
    </div>
    <div id="episode-line">
      <span class="text bold spaced-wide">EPISODIO</span>
      <div id="episode-choices">
        {% for season_ep in season_data[episode.season].episodes %}
          <a href="{{season_ep.url}}" class="choice {% if episode.number == season_ep.number %}selected{% endif %}">{{season_ep.number}}</a>
        {% endfor %}
      </div>
    </div>
    <div id="episode-header">
      <div id="episode-name">
        <h3 class="blue-a">{{ episode.name }}</h3>
        <div class="blue-b text small">({{ episode.season }}x{{ "%02d"|format(episode.number) }})</div>
      </div>
      <div id="episode-buttons">
        <button class="text tiny blue-a">Subir resincronización</button>
        <button class="text tiny blue-a">+ Nuevo idioma</button>
      </div>
    </div>
    <div id="download-count" class="text tiny">
      <i class="fas fa-arrow-alt-circle-down"></i>
      <span id="count" class="text bold">2 000 020</span>
      <span >descargas</span>
    </div>
  </div>
  <div id="languages">
    {% for lang, subs in langs %}
      <div class="language-container">
        <div class="collapser-button blue-a">
          <i class="fas fa-chevron-up"></i>
        </div>

        <div class="text small bold blue-a">{{ lang }}</div>

        {% for sub in subs %}
          {% if sub.progress < 20 %}
            {% set progress_class = '019' %}
          {% elseif sub.progress < 50 %}
            {% set progress_class = '2049' %}
          {% elseif sub.progress < 70 %}
            {% set progress_class = '5069' %}
          {% elseif sub.progress < 80 %}
            {% set progress_class = '7079' %}
          {% elseif sub.progress < 90 %}
            {% set progress_class = '8089' %}
          {% elseif sub.progress < 100 %}
            {% set progress_class = '9099' %}
          {% elseif sub.progress >= 100 %}
            {% set progress_class = '100' %}
          {% endif %}

          {% set pause_class = sub.pause ? 'paused' : '' %}
          {% set can_download = auth.has_role('ROLE_TT') or (not sub.pause and sub.progress == 100) %}

          <div class="version-container">
            <p class="text mini">versión</p>
            <p class="text tiny spaced bold">{{ sub.version.name }}</p>
            <div class="version-info">
              <div class="version-buttons">
                {% if can_download %}
                <a href="/subtitles/{{ sub.id }}/download">
                {% endif %}
                  <div class="download-button
                    {% if not can_download %}unavailable{% endif %}"
                    data-hint="Descargar subtitulo">
                    <i class="far fa-arrow-alt-circle-down"></i>
                  </div>
                {% if can_download %}
                </a>
                {% endif %}
                <a href="/subtitles/{{ sub.id }}/translate">
                  <div class="edit-button"
                    data-hint="Colaborar en la traducción">
                    <i class="fas fa-pencil-alt"></i>
                  </div>
                </a>
              </div>
              <div class="progress-bar-container">
                {% if sub.directUpload %}
                  <div class="subtitle-uploader">
                    <span class="text mini">
                      {% if not sub.resync %}
                      ORIGINAL
                      {% else %}
                      RESINCRONIZADO
                      {% endif %}
                    </span>
                    <a href="/users/{{ sub.version.user.id }}" class="uploader_name text tiny bold blue-a">
                      <i class="fas fa-file-import"></i>
                      {{ sub.version.user.username }}
                    </a>
                  </div>
                {% else %}
                  <div class="progress-bar {{ pause_class }}">
                    <div class="progress progress_{{ progress_class }}"
                      style="width: {{ max(sub.progress//1, 7) }}%">
                    </div>
                  </div>
                {% endif %}
                <div class="more-info">
                  {% if sub.directUpload %}
                  <span class="text tiny">
                    <i class="fa fa-comment" aria-hidden="true"></i> {{ sub.version.comments }}
                  </span>
                  {% else %}
                    <span class="text tiny bold percentage-value">{{ sub.progress // 1}}%</span>
                    {% if sub.pause %}
                      {% if sub.progress >= 100 %}
                        <span data-hint='¡Que esté traducido no implica necesariamente que esté bien! Nuestro objetivo es sacar buenos subtítulos, no ser los más rápidos'>
                          (En revisión)
                        </span>
                      {% elseif sub.progress >= 90 %}
                        <span data-hint='El subtítulo no estará inmediatamente disponible al alcanzar el 100% traducido, sino solo cuando se termine la revisión del mismo'>
                          (Pendiente de revisión)
                        </span>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="more-options">
                <i class="fas fa-ellipsis-v"></i>
                <div class="more-options-list">
                  <div class="option"></div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var userId = {{ auth.user ? auth.user.id : 0 }};
    var epId = {{ episode.id }};
    var MAX_USER_EDIT_SECONDS = {{ constant('MAX_USER_EDIT_SECONDS') }};
    var canDeleteComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
    var canEditComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
    var canPinComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
  </script>
  {{ assets.js('episode') }}
{% endblock %}
