{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}
{% import 'macros/alerts.twig' as alerts %}

{% block title %}{{ episode.fullname }}{% endblock %}
{% block css %}
  {{ assets.css('episode') }}
{% endblock %}

{% block content %}
<div class="content limited-width">
  {% for error in auth.flash.errors %}
    {{ alerts.show('error', error) }}
  {% endfor %}
  {% for success in auth.flash.successes %}
    {{ alerts.show('success', success) }}
  {% endfor %}

  <div id="show-info-header">
    <div id="show-name" class="{% if auth.has_role('ROLE_MOD') %}can-edit-properties{% endif %}">
      {% if auth.has_role('ROLE_MOD') %}
      <i class="fas fa-pencil-alt"></i>
      {% endif %}
      <h1 class="blue-a">{{ episode.show.name }}</h1>
    </div>
    <div id="episode-header">
      <div id="episode-name" class="{% if auth.has_role('ROLE_MOD') %}can-edit-properties{% endif %}">
        {% if auth.has_role('ROLE_MOD') %}
        <i class="fas fa-pencil-alt"></i>
        {% endif %}
        <h3 class="blue-a">{{ episode.name }}</h3>
        <div class="blue-b text small" id="episode-numbers">({{ episode.season }}x{{ "%02d"|format(episode.number) }})</div>
      </div>
      <div id="episode-buttons" class="text tiny">
        <a class="thin-button episode-button" href='/episodes/{{ episode.id }}/resync' class="text tiny blue-a">
          Subir resincronización
        </a>
        <button class="thin-button episode-button translate-subtitle">
          + Nueva traducción
        </button>
      </div>
    </div>
    <div id="season-line">
      <span class="text bold spaced-wide choices-title">TEMPORADA</span>
      <div id="season-choices" class="choices no-scroll-bar">
        {% for season in season_data %}
          <a href="{{season.url}}" class="choice {% if episode.season == season.number %}selected{% endif %}">{{season.number}}</a>
        {% endfor %}
      </div>
    </div>
    <div id="episode-line">
      <span class="text bold spaced-wide choices-title">EPISODIO</span>
      <div id="episode-choices" class="choices no-scroll-bar">
        {% for season_ep in season_data[episode.season].episodes %}
          <a href="{{season_ep.url}}" class="choice {% if episode.number == season_ep.number %}selected{% endif %}">{{season_ep.number}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div id="languages">
    <div id="languages-header">
    <h4>Versiones</h4>
    {% set hint = "" %}
    {% for lang, subs in langs %}
      {% set total_downloads = 0 %}
      {% for sub in subs %}
        {% set total_downloads = total_downloads + sub.downloads %}
      {% endfor %}
      {% if hint %}
        {% set hint = hint ~ "&#10;&#10;" %}
      {% endif %}
      {% set hint = hint ~ LANG_NAMES[LANG_LIST[lang]] ~ " - " ~ total_downloads|number_format(0, ',', '.') %}
    {% endfor %}
    <div id="download-count" class="text tiny hint--left" data-hint='{{hint|raw}}' >
      <i class="fas fa-arrow-alt-circle-down"></i>
      <span id="count" class="text bold">{{ downloads|number_format(0, ',', ' ') }}</span>
      <span >descargas</span>
    </div>
    </div>
    {% for lang, subs in langs %}
      <div class="language-container w-box-shadow">
        <button class="collapser-button blue-a">
          <i class="fas fa-chevron-up"></i>
        </button>

        <div class="text small bold blue-a language-name"  data-lang-id="{{lang}}">{{ LANG_NAMES[LANG_LIST[lang]] }}</div>

        <div class="language-content">
          {% for sub in subs %}
            {% include "edit_subtitle.twig" %}
            {% if sub.progress < 20 %}
              {% set progress_class = '019' %}
            {% elseif sub.progress < 50 %}
              {% set progress_class = '2049' %}
            {% elseif sub.progress < 70 %}
              {% set progress_class = '5069' %}
            {% elseif sub.progress < 80 %}
              {% set progress_class = '7079' %}
            {% elseif sub.progress < 90 %}
              {% set progress_class = '8089' %}
            {% elseif sub.progress < 100 %}
              {% set progress_class = '9099' %}
            {% elseif sub.progress >= 100 %}
              {% set progress_class = '100' %}
            {% endif %}

            {% set pause_class = sub.pause ? 'paused' : '' %}
            {% set can_download = auth.has_role('ROLE_TT') or (not sub.pause and sub.progress >= 100) %}

            <div class="version-container {% if sub.pause %}paused{% endif %}">
              <p class="text mini">versión</p>
              <p class="text tiny spaced bold">{{ sub.version.name }}</p>
              <div class="version-info">
                <div class="version-buttons">
                  {% if can_download %}
                  <a rel="nofollow" href="/subtitles/{{ sub.id }}/download">
                  {% endif %}
                    <div class="download-button {% if not can_download %}unavailable{% endif %}">
                      <i class="far fa-arrow-alt-circle-down"></i>
                    </div>
                  {% if can_download %}
                  </a>
                  {% endif %}
                  <a rel="nofollow" href="/subtitles/{{ sub.id }}/translate">
                    <div class="edit-button-wrap">
                      <div class="edit-button">
                        <i class="fas fa-pencil-alt"></i>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="progress-bar-container">
                  {% if sub.directUpload %}
                    <div class="subtitle-uploader">
                      <span class="text mini">
                        {% if not sub.resync %}
                        ORIGINAL
                        {% else %}
                        RESINCRONIZADO
                        {% endif %}

                        {% if sub.pause %}
                         (En revisión)
                        {% endif %}
                      </span>
                      <a rel="nofollow" href="/users/{{ sub.version.user.id }}" class="uploader_name text tiny bold blue-a">
                        <i class="fas fa-file-import"></i>
                        {{ sub.version.user.username }}
                      </a>
                    </div>
                  {% else %}
                    <div class="progress-bar {{ pause_class }}">
                      {% if sub.pause %}
                      <div class="paused-overlay" style="width: {{ sub.progress//1 }}%"></div>
                      {% endif %}
                      <div class="progress progress_{{ progress_class }}"
                        style="width: {{ sub.progress//1 }}%">
                      </div>
                    </div>
                  {% endif %}
                  <div class="more-info">
                    {% if sub.directUpload %}
                    <span class="text small">
                      <i class="fa fa-comment" aria-hidden="true"></i> {{ sub.version.comments }}
                    </span>
                    {% else %}
                      <span class="text small bold percentage-value">
                        {{ sub.progress // 1}}%
                      </span>
                      {% if sub.pause %}
                        {% if sub.progress >= 100 %}
                          <span class="text small" data-hint='¡Que esté traducido no implica necesariamente que esté bien! Nuestro objetivo es sacar buenos subtítulos, no ser los más rápidos'>
                            (En revisión)
                          </span>
                        {% elseif sub.progress >= 85 %}
                          <span class="text small" data-hint='El subtítulo no estará inmediatamente disponible al alcanzar el 100% traducido, sino solo cuando se termine la revisión del mismo'>
                            (Pendiente de revisión)
                          </span>
                        {% endif %}
                        {% if auth.has_role("ROLE_TT") %}
                          <span class="text small"> - Pausado por {{sub.pause.user.username}}</span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                {% if auth.has_role('ROLE_TT') or auth.has_role('ROLE_MOD') %}
                        <div class="more-options">
                          <div class="fade-pan hidden"></div>
                          <div class="ellipsis-wrapper">
                            <i class="fas fa-ellipsis-v"></i>
                          </div>
                          <div class="more-options-list w-box-shadow">
                            {% if sub.pause %}
                        <a href="/subtitles/{{ sub.id }}/unpause">
                          <div class="option">Liberar</div>
                        </a>
                      {% else %}
                        <a href="/subtitles/{{ sub.id }}/pause">
                          <div class="option">Pausar</div>
                        </a>
                      {% endif %}
                      {% if auth.has_role('ROLE_MOD') %}
                        <a data-action="delete" data-id="{{ sub.id }}">
                          <div class="option">Borrar</div>
                        </a>
                        <a href='/subtitles/{{ sub.id }}/hammer'>
                          <div class="option">Pasar pala</div>
                        </a>
                        <a class="subtitle-properties-button" data-subtitle-id="{{sub.id}}">
                          <div class="option">Propiedades</div>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div id="comments-container" class="comments-container">
    {% verbatim %}
    <h4 class="comment-header">Comentarios ({{comments.length}})</h4>
    {% endverbatim %}

    <comment v-for="comment in comments"
        :key="comment.id"
        :id="comment.id"
        :user="comment.user"
        :base-text="comment.text"
        :published-at="comment.published_at"
        :edited-at="comment.edited_at"
        :pinned="comment.pinned"
        @remove="remove"
        @pin="pin"
        @save="save"
      >
    </comment>
    <div class="no-comments" v-if="comments.length == 0">Nadie ha dejado su comentario aún.</div>

    {% if not auth.logged or not auth.user.ban %}
      <div class='newcomment-box'>
        {% if auth.logged %}
          {% verbatim %}
          <div class="open-comment">
            <label class="input-auto-sizer stacked" :data-value="newComment">
              <textarea id="new-comment" rows="2" v-model="newComment" class="textarea" placeholder="Escribe aquí tu comentario..." resizable="false"></textarea>
            </label>

            <div class="comment-meta">
              <div
                class='comment-char-counter text tiny'
                :class='{
                  "normal-count": newComment.length <= maxCommentLength*0.9,
                  "close-to-max": newComment.length > maxCommentLength*0.9 && newComment.length <= maxCommentLength,
                  "too-many": newComment.length > maxCommentLength
                }'
              >
                <span id='comment-char-count'>{{ newComment.length < 1000 ? newComment.length : 999 }}
                </span> / <span id='comment-max-chars'>{{ maxCommentLength }}</span>
              </div>

              <button class="save-comment" @click="publishComment"
                :class="{'hidden': newComment == '',
                  'is-loading': submittingComment,
                  'is-primary': newComment.length <= maxCommentLength,
                  'is-danger': newComment.length > maxCommentLength}"
                :disabled="newComment.length > maxCommentLength"
                @click="publishComment">
                <i class="fab fa-telegram-plane"></i>
                <span class="text mini spaced">ENVIAR</span>
              </button>
            </div>
          </div>
          {% endverbatim %}
        {% else %}
          <div class="open-comment disabled">
            <textarea id="new-comment" rows="2" class="textarea" disabled>Debes estar identificado para poder dejar comentarios</textarea>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

<template id="new-translation">
  <div class="form-wrap">
    <h3>Nueva traducción</h3>
    <form action="/subtitles/translate" method="POST">
      <input type="hidden" name="episode" value="{{ episode.id }}" />
      <div class="form-field validated dropdown-field" fieldname="Idioma">
        <i class="fas fa-chevron-down dropdown"></i>
        <select name="lang" id="translate-to-lang" required>
          <option value="" disabled selected>Selecciona un idioma</option>
          {% for lid, lcode in LANG_LIST %}
            {% if langs[LANG_NAMES[lcode]] is not defined %}
              <option value="{{ lcode }}">{{ LANG_NAMES[lcode] }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <i class="fas fa-globe"></i>
      </div>
      <button type="submit" id="open-translation">Abrir traducción</button>
    </form>
  </div>
</template>

{% if auth.has_role('ROLE_MOD') %}
  {% include "edit_episode.twig" %}
  {% include "edit_show.twig" %}
{% endif %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var userId = {{ auth.user ? auth.user.id : 0 }};
    var epId = {{ episode.id }};
    var MAX_USER_EDIT_SECONDS = {{ constant('MAX_USER_EDIT_SECONDS') }};
    var canDeleteComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
    var canEditComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
    var canPinComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
    var canEditProperties = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
    var isBanned = {{ auth.user ? (auth.user.ban ? 'true' : 'false') : 'false' }};
  </script>
  {{ assets.js('episode') }}
{% endblock %}
