{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Pala @ {{ subtitle.version.episode.fullname }}{% endblock %}
{% block css %}
  {{ assets.css('hammer') }}
{% endblock %}

{% block content %}
<div class="content limited-width">
  <h1>Pasar pala</h1>
  <a href="{{ url_for('episode', { 'id': subtitle.version.episode.id }) }}">
    <h3>{{ subtitle.version.episode.fullname }}</h3>
  </a>
  <h4>{{ LANG_NAMES[LANG_LIST[subtitle.lang]] }}</h4>
  <div class="text mini version">versión</div>
  <div class="text small version-name">{{subtitle.version.name}}</div>
  <div class='candidates grid'>
    <div class="grid-row">
      <div class="text bold">Usuario</div>
      <div class="text bold">Entradas totales</div>
      <div class="text bold">Secuencias sin corregir</div>
    </div class="text bold">
    {% for user_id, seqs in seq_by_author %}
      <hammertarget id="{{ user_id }}" :user-roles='{{ seqs.user.roles|json_encode()|raw }}'
        username="{{ seqs.user.username }}" count-latest="{{ seqs.counts.latest }}"
        count-corrected="{{ seqs.counts.corrected }}">
      </hammertarget>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    let subID = {{ subtitle.id }};
  </script>
  {{ assets.js('hammer') }}
{% endblock %}
