{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Pala @ {{ subtitle.version.episode.fullname }}{% endblock %}
{% block css %}
  {{ assets.css('hammer') }}
{% endblock %}

{% block content %}
<div class="content">
  <table class='candidates'>
    <thead>
      <tr>
        <td>Usuario</td>
        <td>Entradas totales</td>
        <td>Secuencias sin corregir</td>
      </tr>
    </thead>
    {% for user_id, seqs in seq_by_author %}
      <hammertarget id="{{ user_id }}" username="{{ seqs.user.username }}"
          count-latest="{{ seqs.counts.latest }}" count-corrected="{{ seqs.counts.corrected }}">
      </hammertarget>
    {% endfor %}
  </table>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    let subID = {{ subtitle.id }};
  </script>
  {{ assets.js('hammer') }}
{% endblock %}
