{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Pala @ {{ subtitle.version.episode.fullname }}{% endblock %}
{% block css %}
  {{ assets.css('hammer') }}
{% endblock %}

{% block content %}
<div class="content limited-width">
  <div class='candidates grid'>
    <div class="grid-row">
      <div class="text bold">Usuario</div>
      <div class="text bold">Entradas totales</div>
      <div class="text bold">Secuencias sin corregir</div>
    </div class="text bold">
    {% for user_id, seqs in seq_by_author %}
      <hammertarget id="{{ user_id }}" :user-roles='{{ seqs.user.roles|json_encode()|raw }}'
        username="{{ seqs.user.username }}" count-latest="{{ seqs.counts.latest }}"
        count-corrected="{{ seqs.counts.corrected }}">
      </hammertarget>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    let subID = {{ subtitle.id }};
  </script>
  {{ assets.js('hammer') }}
{% endblock %}
