{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Subir subtítulo{% endblock %}
{% block css %}
  {{ assets.css('upload') }}
{% endblock %}

{% block content %}
<div class="content limited-width">
  <h1>Subir subtítulo</h1>

  <div id="grid">
    <div id="upload-rules">
      <h3>Normas de subida</h3>
      {% include "rules/rules_upload.twig" %}
    </div>

    <div class="form-wrap">
      <form id="upload-form" enctype="multipart/form-data">
        <div id="file-upload-container" class="w-box-shadow">
          <i class="fas fa-arrow-circle-up"></i>
          <div id="file-upload-instructions">
            <p>Arrasta o haz clic</p>
            <p class="text small">para subir un fichero .SRT</p>
            <p>Vas a subir...</p>
          </div>
          <div id="file-name"></div>
          <input class="file-input " type="file" id="sub" name="sub" accept=".srt" required>
        </div>
        <div class="form-field validated dropdown-field">
          <i class="fas fa-chevron-down dropdown"></i>
          <select id="show-id" name="show-id" required>
            <option value="" disabled selected>Selecciona una serie</option>
            {% for show in shows %}
              <option value="{{ show.id }}">{{ show.name }}</option>
            {% endfor %}
            <option value="NEW">[Nueva serie]</option>
          </select>
          <i class="fas fa-film"></i>
        </div>

        <div class="form-field validated hidden">
          <input type="text" id="new-show"
            name="new-show" placeholder="Nombre de la nueva serie">
          <i class="fas fa-plus"></i>
        </div>

        <div class="form-field validated">
          <input id="name" name="name" class="input" type="text"
            placeholder="0x00 - Nombre del episodio"
            autocomplete="off" required>
          <i class="fas fa-file-video"></i>
        </div>

      <div class="form-field validated dropdown-field">
          <i class="fas fa-chevron-down dropdown"></i>
          <select id="lang" name="lang" required>
            <option value="" disabled selected>Selecciona un idioma</option>
            {% for lid, lcode in LANG_LIST %}
              <option value="{{ lcode }}">{{ LANG_NAMES[lcode] }}</option>
            {% endfor %}
          </select>
          <i class="fas fa-globe"></i>
        </div>

        <div class="form-field validated">
          <input id="version" name="version" class="input"
            type="text" placeholder="Versión del vídeo"
            required>
          <i class="fas fa-compact-disc"></i>
        </div>

        <div class="form-field validated">
          <input id="comments" name="comments" class="input"
              type="text"
              placeholder="Créditos o notas varias sobre el subtítulo..."
              required>
          <i class="fas fa-comment"></i>
        </div>

        <button type="submit" id="upload-button" class="text light">
          Subir subtítulo
        </button>
      </form>
    </div>
  </div>
</div>

<template id="new-show-tpl">
  <div class="field">
    <p class="control is-expanded has-icons-left has-icons-right">
      <input class="input" id="new-show" name="new-show" placeholder="Nombre de la serie..." value="">
      <span class="icon is-small is-left">
        <i class="fa fa-tv"></i>
      </span>
      <span class="icon is-small is-right">
        <i id="status-new-show" class="fa fa-check hidden"></i>
      </span>
    </p>
    <p id="new-show-status" data-status class="help is-danger hidden"></p>
  </div>
</template>

{% endblock %}

{% block scripts %}
  {{ assets.js('upload') }}
{% endblock %}
