{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Subir subtítulo{% endblock %}
{% block css %}
  {{ assets.css('upload') }}
{% endblock %}

{% block content %}
<div class="content limited-width">
  <h1>Subir subtítulo</h1>

  <div id="grid">
    <div id="upload-rules">
      <h3>Normas de subida</h3>
      {% include "rules/rules_upload.twig" %}
    </div>

    <div class="form-wrap">
      <div id="uploading-overlay" class="hidden">
        <i class="fas fa-spinner"></i>
        <p>Subiendo subtítulo...</p>
      </div>
      <form id="upload-form" enctype="multipart/form-data">
        <div id="file-upload-container" class="w-box-shadow">
          <i class="fas fa-arrow-alt-circle-up"></i>
          <div id="file-upload-instructions">
            <p>Arrastra o haz clic</p>
            <p class="text small">para subir un fichero .SRT</p>
            <p>Vas a subir...</p>
          </div>
          <div id="file-name"></div>
          <input class="file-input " type="file" id="sub" name="sub" accept=".srt" required>
        </div>
        <div class="form-field validated dropdown-field" fieldname="Serie">
          <i class="fas fa-chevron-down dropdown"></i>
          <select id="show-id" name="show-id" required>
            <option value="" disabled selected>Selecciona una serie</option>
            <option value="NEW">[Nueva serie]</option>
            {% for show in shows %}
              <option value="{{ show.id }}">{{ show.name }}</option>
            {% endfor %}
          </select>
          <i class="fas fa-film"></i>
        </div>

        <div class="form-field validated hidden" fieldname="Nombre de la nueva serie">
          <input type="text" id="new-show"
            name="new-show">
          <i class="fas fa-plus"></i>
        </div>

        <div class="form-field validated" fieldname="Episodio (0x00 - Nombre del episodio)">
          <input id="ep-name" name="name" class="input" type="text"
            autocomplete="off" required>
          <i class="far fa-file-video"></i>
        </div>

        <div class="form-field validated dropdown-field" fieldname="Idioma">
          <i class="fas fa-chevron-down dropdown"></i>
          <select id="lang" name="lang" required>
            <option value="" disabled selected>Selecciona un idioma</option>
            {% for lid, lcode in LANG_LIST %}
              <option value="{{ lcode }}">{{ LANG_NAMES[lcode] }}</option>
            {% endfor %}
          </select>
          <i class="fas fa-globe"></i>
        </div>

        <div class="form-field validated" fieldname="Versión del vídeo">
          <input id="version" name="version" class="input"
            type="text" required>
          <i class="fas fa-compact-disc"></i>
        </div>

        <div class="form-field validated" fieldname="Créditos o notas">
          <input id="comments" name="comments" class="input"
              type="text" required>
          <i class="fas fa-comment"></i>
        </div>

        <button type="submit" id="upload-button" class="text light">
          Subir subtítulo
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {{ assets.js('upload') }}
{% endblock %}
