{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Subir resincronización{% endblock %}
{% block css %}
  {{ assets.css('upload') }}
{% endblock %}

{% block content %}
<div class="content limited-width">
  <h1>Subir resincronización</h1>
  <div class="form-wrap">
    <div id="uploading-overlay" class="hidden">
      <i class="fas fa-spinner"></i>
      <p>Subiendo subtitulo...</p>
    </div>
    <form id="upload-form" enctype="multipart/form-data">
      <div id="file-upload-container" class="w-box-shadow">
        <i class="fas fa-arrow-alt-circle-up"></i>
        <div id="file-upload-instructions">
          <p>Arrasta o haz clic</p>
          <p class="text small">para subir un fichero .SRT</p>
          <p>Vas a subir...</p>
        </div>
        <div id="file-name"></div>
        <input class="file-input " type="file" id="sub" name="sub" accept=".srt" required>
      </div>
      <div class="form-field disabled" fieldname="Serie">
        <input id="show-id" required name="show-id" class="input" type="text"
          autocomplete="off" disabled value="{{ show_name }}">
          <i class="fas fa-film"></i>
      </div>

      <div class="form-field disabled" fieldname="Episodio (formato: 0x00 - Nombre del episodio)">
        <input id="name" name="name" class="input" type="text"
          autocomplete="off" value="{{ ep_name }}" disabled required>
        <i class="far fa-file-video"></i>
      </div>

      <div class="form-field validated dropdown-field" fieldname="Idioma">
        <i class="fas fa-chevron-down dropdown"></i>
        <select id="lang" name="lang" required>
          <option value="" disabled selected>Selecciona un idioma</option>
          {% for lid, lcode in LANG_LIST %}
            <option value="{{ lcode }}">{{ LANG_NAMES[lcode] }}</option>
          {% endfor %}
        </select>
        <i class="fas fa-globe"></i>
      </div>

      <div class="form-field validated" fieldname="Versión del vídeo">
        <input id="version" name="version" class="input"
          type="text" required>
        <i class="fas fa-compact-disc"></i>
      </div>

      <div class="form-field validated" fieldname="Créditos o notas">
        <input id="comments" name="comments" class="input"
            type="text" required>
        <i class="fas fa-comment"></i>
      </div>

      <button type="submit" id="upload-button" class="text light">
        Subir subtítulo
      </button>
    </form>
  </div>
</div>

<template id="new-show-tpl">
  <div class="field">
    <p class="control is-expanded has-icons-left has-icons-right">
      <input class="input" id="new-show" name="new-show" placeholder="Nombre de la serie..." value="">
      <span class="icon is-small is-left">
        <i class="fa fa-tv"></i>
      </span>
      <span class="icon is-small is-right">
        <i id="status-new-show" class="fa fa-check hidden"></i>
      </span>
    </p>
    <p id="new-show-status" data-status class="help is-danger hidden"></p>
  </div>
</template>
{% endblock %}

{% block scripts %}
  {{ assets.js('upload') }}
{% endblock %}
