{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}
{% import 'macros/alerts.twig' as alerts %}

{% block meta %}
  <meta name="robots" content="noindex">
{% endblock %}
{% block title %}Perfil de {{ target_user.username }}{% endblock %}
{% block css %}
  {{ assets.css('user') }}
{% endblock %}

{% block content %}
<div class="content limited-width">
  {% for error in auth.flash.errors() %}
    {{ alerts.show('error', error) }}
  {% endfor %}
  {% for success in auth.flash.successes() %}
    {{ alerts.show('success', success) }}
  {% endfor %}

  <h1 class="subtitle">
    <span class='name role-user'>
      {% if page_type == "me" %}
        Mi perfil
      {% else %}
        Perfil de {{ target_user.username }}
      {% endif %}
    </span>
  </h1>

  <div class="navigation-list no-scroll-bar option-wrapper">
    {% if page_type == "me" %}
    <div data-toggle-targets="info-group" data-enable="private-info" class="navigation-item selected option">CONFIGURACIONES</div>
    {% endif %}
    <div data-toggle-targets="info-group" data-enable="public-info" class="navigation-item {% if page_type != "me" %}selected{% endif %} option">INFORMACIÓN PÚBLICA</div>
  </div>

  {% if page_type == "me" %}
    {% include "user/user_settings.twig" %}
  {% endif %}
  <div id="public-info" class="info-group {% if page_type == "me" %} hidden {% endif %}">
    <div class="grid">
      {% if auth.has_role('ROLE_MOD') %}
        <div class='grid-row'>
          <div class="text bold">Email</div>
          <div>
            {% set at_pos = target_user.email|split("@")[0]|length %}
            {% apply spaceless %}
              <span>{{ target_user.email|slice(0, 2) }}</span>
              <span>{% if at_pos > 3 %}{% for i in range(2, at_pos - 2) %}*{% endfor %}{% endif %}</span>
              <span>{{ target_user.email|slice(at_pos - 1, 3) }}</span>
              <span>{% for i in range(2, target_user.email|length - at_pos - 6) %}*{% endfor %}</span>
              <span>{{ target_user.email|slice(target_user.email|length - 5) }}</span>
            {% endapply %}
          </div>
        </div>

        {% if "ROLE_MOD" not in target_user.roles %}
        <div class='grid-row'>
          <div class="text bold">Otras acciones</div>
          <form id='reset-user-pwd' action="/users/{{target_user.id}}/resetpwd" method="POST">
            <button type='submit'>Reiniciar contraseña</button>
          </form>
        </div>
        {% endif %}

        {% if target_user.ban is not null and not target_user.ban.expired %}
          <div class='grid-row' data-hint="{{ target_user.ban.reason }}">
            <div class="text bold">Baneado hasta</div>
            <div>{{ target_user.ban.until|date('d/M/Y H:i (e)') }} por <b>{{ target_user.ban.byUser.username }}</b> <a href='/users/{{ target_user.id }}/unban'>(Desbanear)</a></div>
          </div>
        {% else %}
          <div class='grid-row'>
            <div class="text bold">Baneado</div>
            <div>No <button id='ban'>(Banear)</button></div>
          </div>
        {% endif %}
      {% endif %}

      <div class='grid-row'>
        <div class="text bold">Tipo de usuario</div>
        <div>
          {% if target_user.hasRole('ROLE_TT') %}
            <i class="fas fa-gem role-mod role-icon"></i>
            <div class="role-mod">
              Traductor habitual
              {% if auth.has_role('ROLE_MOD') %}
                <form action="/users/{{target_user.id}}/changerole" method="POST">
                  <button type='submit'>(Quitar TH)
                </form>
              {% endif %}
            </div>
          {% elseif target_user.hasRole('ROLE_MOD') %}
            <i class="fas fa-hand-sparkles role-tt role-icon"></i> <div class="role-tt">Moderador</div>
          {% else %}
            <div>
              Normal
              {% if auth.has_role('ROLE_MOD') %}
                <form action="/users/{{target_user.id}}/changerole" method="POST">
                  <button type='submit'>(Hacer TH)
                </form>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>

      <div class='grid-row'>
        <div class="text bold">Última conexión</div>
        <div>
          {% if target_user.lastSeen is not null %}
            {{ target_user.lastSeen|date('d/M/Y H:i') }}
          {% else %}
            Nunca
          {% endif %}
        </div>
      </div>

      <div class='grid-row'>
        <div class="text bold">Fecha de registro</div>
        <div>
          {% if target_user.registeredAt is not null %}
            {{ target_user.registeredAt|date('d/M/Y H:i') }}
          {% else %}
            Nunca (¿magia?)
          {% endif %}
        </div>
      </div>
    </div>

    <div id="subtitles-participated-container">
      <div class="tabs option-wrapper">
        <button data-toggle-targets="subtitles" data-enable="collaborations" class="option text tiny spaced-wide selected">COLABORACIONES (<span class="text bold tiny" id='collab-count'>...</span>)</button>
        <button data-toggle-targets="subtitles" data-enable="uploads" class="option text tiny spaced-wide">CAPÍTULOS SUBIDOS (<span class="text bold tiny" id='upload-count'>...</span>)</button>
      </div>
      <div id="collaborations" class='subtitles'>
        <div id='collab-list'>
        ...
        </div>
      </div>

      <div id="uploads" class="subtitles hidden">
        <div id='upload-list'>
        ...
        </div>
      </div>
    </div>

    {% if auth.has_role('ROLE_MOD') %}
      <template id='ban-dialog'>
        <h4>Banear</h4>
        <form action="/users/{{ target_user.id }}/ban" method="POST">
          <div class='form-group'>
            <label for='time'>Duración</label>
            <div id='time'>
              <input type='radio' name='duration-type' value='permanent' v-model='duration'/> Permanente &nbsp;&nbsp;
              <input type='radio' name='duration-type' value='temporary' v-model='duration'/> Temporal
              <div v-if='duration == "temporary"'>
                <input type='number' name='days' class='form_input input-extra-sm nospinner' placeholder="0" /> días y <input type='number' name='hours' class='form_input input-extra-sm nospinner' placeholder="0" /> horas
              </div>
            </div>
          </div>
          <div class='form-group'>
            <label for='reason'>Razón</label>
            <textarea id='reason' name='reason' type='text' class='form_input' maxlength="255" required>
            </textarea>
          </div>
          <div class='form-group'>
            <button type='submit' class='button button-fat'>Banear</button>
          </div>
        </form>
      </template>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    const targetUserId = {{ target_user.id }};
  </script>
  {{ assets.js('user') }}
{% endblock %}
