{% extends "panel/panel_base.twig" %}
{% import 'macros/assets.twig' as assets %}
{% import 'macros/alerts.twig' as alerts %}

{% block title %}Alertas{% endblock %}
{% block panel_content %}
  {% for error in auth.flash.errors %}
    {{ alerts.show('error', error) }}
  {% endfor %}
  {% for success in auth.flash.successes %}
    {{ alerts.show('success', success) }}
  {% endfor %}

  <h1>Lista de usuarios baneados</h1>
  <h4>Temporalmente</h4>
  <ul>
  {% for ban in banned_users.temporary %}
    <li class="banlist"><a href='/users/{{ ban.target.id }}'>{{ ban.target.username }}</a>
      <span >hasta el {{ ban.until|date('d/M/Y H:i (e)') }}</span>
      <span  class='hint--bottom'
        data-hint='Razón: {{ ban.reason }}'
      > Baneado por <b>{{ ban.by.username }}</b> </span>
      <span class='actions'>
        <a href='/users/{{ ban.target.id }}/unban'>Desbanear</a>
      </span>
    </li>
  {% else %}
    <li>Parece que no hay usuarios baneados temporalmente.</li>
  {% endfor %}
  </ul>

  <h4 >Permanentemente</h4>
  <ul>
  {% for ban in banned_users.permanent %}
    <li class="banlist"><a href='/users/{{ ban.target.id }}'>{{ ban.target.username }}</a> hasta el {{ ban.until|date('d/M/Y H:i (e)') }}
      <span class='hint--bottom'
        data-hint='Razón: {{ ban.reason }}'
      >[Baneado por <b>{{ ban.by.username }}</b>]</span>
      <span class='actions'>
        [<a href='/users/{{ ban.target.id }}/unban'>Desbanear</a>]
      </span>
    </li>
  {% else %}
    <li>Parece que no hay usuarios baneados permanentemente.</li>
  {% endfor %}
  </ul>

  <h4 >Baneos pasados</h4>
  <ul>
  {% for ban in banned_users.old %}
    <li class="banlist">
      <span><a href='/users/{{ ban.target.id }}'>{{ ban.target.username }}</a></span>
      <span>fue baneado hasta el {{ ban.until|date('d/M/Y H:i (e)') }}</span>
      <span class='hint--bottom'
        data-hint='Razón: {{ ban.reason }}'
      >[Baneado por <b>{{ ban.by.username }}</b>]</span>
      {% if ban.lifter %}
      &nbsp;-&nbsp;[Desbaneado por&nbsp;<b>{{ ban.lifter.username }}</b>]
      {% endif %}
    </li>
  {% else %}
    <li>Parece que todos han sido buenos y nadie ha sido baneado.</li>
  {% endfor %}
  </ul>
{% endblock %}

{% block scripts %}
  {{ assets.js('panel_alerts') }}
{% endblock %}
