{% extends "panel/panel_base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Alertas{% endblock %}
{% block panel_content %}
  <h1>Alertas pendientes</h1>
  {% for error in auth.flash.errors %}
      <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ error }}
      </div>
  {% endfor %}
  {% for msg in auth.flash.successes %}
      <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{ msg }}
      </div>
  {% endfor %}

  {% for alert in alerts %}
    <div class="alert-card w-box-shadow {% if alert.closed %}solved{% endif %}">
      <div class="card-header">
        <div class="icon">
        {% if alert.closed %}
          <i class="fas fa-check-circle"></i>
        {% else %}
          <i class="fas fa-exclamation-circle"></i>
        {% endif %}
        </div>
        <div class="alert-comment">
          <div class="metadata text small">
            <time datetime="{{ alert.creation_time|date('d-m-Y H:i:s') }}">{{ alert.creation_time|date('d/M/Y, H:i') }}</time>
            <span>por</span>
            <a href='/users/{{alert.from_user.id}}'>{{ alert.from_user.username }}</a>
            <span>en</span>
            <a class="text bold blue-a" href='/subtitles/{{ alert.from_sub_id }}/translate'>@{{ alert.from_sub }}</a>
          </div>
          <div class="alert-message">{{ alert.first_comment.text }}</div>
        </div>
        <div class='unhide-alert blue-a'>
          {% if alert.closed %}{% set direction="down" %}{% else %}{% set direction="up" %}{% endif %}
          <i class="dropdown fa fa-chevron-{{ direction }}" aria-hidden="true"></i>
        </div>
      </div>

      <div class="card-content {% if not alert.closed %}expanded{% endif %}">
        <div class="form-wrap">
          <form action="" method="POST">
            <input type='hidden' name='alert-id' value='{{ alert.id }}'>

              {% if alert.comments|length > 1 %}
              <ul class="comments">
              {% for comment in alert.comments %}
                {% if not loop.first %}
                    <li class="comment">
                      <div>
                        <div class="text tiny username">
                          {{ comment.user.username }}
                          ({{ comment.creationTime|date('d/M/Y H:i') }})
                        </div>
                        <div class="text small">
                        {{ comment.text }}
                        </div>
                      </div>
                    </li>
                {% endif %}
              {% endfor %}
              </ul>
              {% endif %}

              {% if not alert.closed %}
                <div class="form-field validated" fieldname="Añadir comentário">
                  <input required class="input is-radiusless" name="comment"
                    type="text" placeholder="Algo relacionado con la alerta...">
                  <i class="fas fa-comment"></i>
                </div>
              {% endif %}
            <div class="card-footer">
              {% if not alert.closed %}
                <button type="submit">Guardar comentario</button>
                <button type="submit" name="close">Guardar y cerrar alerta</button>
              {% else %}
                <div class="text tiny card-footer-item">Esta alerta ya ha sido cerrada</div>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    Parece que no hay alertas pendientes.
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ assets.js('panel_alerts') }}
{% endblock %}
