{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Comentarios en {{ comment_type_name }}{% endblock %}
{% block css %}
  {{ assets.css('comment_list') }}
{% endblock %}

{% block content %}

<div id="comment_content">
  <div id="comments">
    <h4>Comentarios en {{ comment_type_name }} <span class='comment-refresh'><i class='fa fa-refresh' @click="refresh"></i></span></h4>

    <comment v-for="comment in comments"
      :key="comment.id"
      :id="comment.id"
      :user="comment.user"
      :base-text="comment.text"
      :episode="comment.episode"
      :subtitle="comment.subtitle"
      :published-at="comment.published_at"
      @remove="remove"
    >
    </comment>

    <div id='pages'>
      <div id='prev-page' :class='{"hidden": page <= 1}' @click='prevPage'>
        <i class='fa fa-chevron-circle-left'></i> Página anterior
      </div>
      <div id='next-page' @click='nextPage'>
        Siguiente página <i class='fa fa-chevron-circle-right'></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var commentType = "{{ comment_type }}";
    var canDeleteComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
  </script>
  {{ assets.js('comment_list') }}
{% endblock %}
