{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}
{% import 'macros/alerts.twig' as alerts %}

{% block title %}Editando {{ episode.fullname }}{% endblock %}
{% block css %}
  {{ assets.css('edit_episode') }}
{% endblock %}

{% block content %}

<div id="subtitle_content">
  <div id="subtitle_content_title_container">
    <div id="section-title">
      <a href='/episodes/{{ episode.id }}'>{{ episode.fullname }}</a>
    </div>
  </div>

  <div id='info'>
    <form name="" action="" method="POST">
      {% for error in auth.flash.errors %}
        {{ alerts.show('error', error) }}
      {% endfor %}
      {% for success in auth.flash.successes %}
        {{ alerts.show('success', success) }}
      {% endfor %}
      <div class='form-group'>
        <label for="season">Temporada</label>
        <input id="season" type="number" class="form_input" name="season" value="{{ episode.season }}" required>
      </div>
      <div class='form-group'>
        <label for="episode">Capítulo</label>
        <input id="episode" type="number" class="form_input" name="episode" value="{{ episode.number }}" required>
      </div>

      <div class='form-group'>
        <label for="name">Nombre</label>
        <input type="text" name="name" class="form_input" value="{{ episode.name }}" required>
      </div>

      <div class='form-group'>
        <button id="save-edit" type="submit" class='button'>GUARDAR</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
