{% extends "base.twig" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="css/episode.css"/>
{% endblock %}

{% block content %}

<div id="subtitle_content">
    <div id="subtitle_content_title_container" id="navigate_top">	
        <span class="hint--top hint--bounce hint--rounded" data-hint="Temporada Anterior"><div id="previous_season" class="clips_pages_button">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>	
        </div></span>
        <span class="hint--top hint--bounce hint--rounded" data-hint="Episodio Anterior"><div id="previous_episode" class="clips_pages_button">
            <i class="fa fa-angle-left" aria-hidden="true"></i>	
        </div></span>
        <div id="episode_title">
            {{ episode.show.name }} <span id="season_number">{% if episode.season < 10 %}0{% endif %}{{ episode.season }}</span>x<span id="episode_number">{% if episode.number < 10 %}0{% endif %}{{ episode.number }}</span> - {{ episode.name }}
        </div>	
        <span class="hint--top hint--bounce hint--rounded" data-hint="Seguiente Episodio"><div id="next_episode" class="clips_pages_button">
            <i class="fa fa-angle-right" aria-hidden="true"></i>	
        </div></span>	
        <span class="hint--top hint--bounce hint--rounded" data-hint="Seguiente Temporada"><div id="next_season" class="clips_pages_button">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </div></span>			
    </div>
    <div id="subtitle_details">

        {% for lang, subs in langs %}
            <div class="subtitle_language">{{ lang }}</div>
            {% for sub in subs %}
                {% if sub.directUpload %}
                    <div id="progress_buttons_row" class="compact" {# only compact if admin #}>
                        <div class="version_name">{{ sub.version.name }}</div>
                        <div id="translation_progress_bar">
                            <div class="progress progress_original_subtitle">
                                <div id="subtitle_uploader">subtítulo original subido por <a href="/user/{{ sub.version.user.id }}" class="uploader_name">{{ sub.version.user.username }}</a>{# TODO: , hace 10 días #}</div>
                            </div>
                        </div>
                        <div class="subtitle_buttons">
                            <div class="download_subtitle" {# TODO: class should be button wrapper or something! #}><a href="/download/{{ sub.id }}"><i class="fa fa-download" aria-hidden="true"></i></a></div>
                            <div class="edit_subtitle" {# TODO: class should be button wrapper or something! #}><a href="/translate/{{ sub.id }}"><i class="fa fa-file-text" aria-hidden="true"></i></a></div> 
                            {% if auth.has_role('ROLE_MOD') %}
                                <div class="delete_subtitle" {# TODO: class should be button wrapper or something! #}><i class="fa fa-times" aria-hidden="true"></i></div>
                                <div class="antitroll_subtitle"><i class="fa fa-gavel" aria-hidden="true"></i></div>
                            {% endif %}
                        </div>
                        <div class="version_comments">
                            <p><i class="fa fa-comment" aria-hidden="true"></i> {{ sub.version.comments }}</p>
                        </div>
                    </div>
                {% else %}
                    {% if sub.progress < 20 %}
                        {% set progress_class = '019' %}
                    {% elseif sub.progress < 50 %}
                        {% set progress_class = '2049' %}
                    {% elseif sub.progress < 70 %}
                        {% set progress_class = '5069' %}
                    {% elseif sub.progress < 80 %}
                        {% set progress_class = '7079' %}
                    {% elseif sub.progress < 90 %}
                        {% set progress_class = '8089' %}
                    {% elseif sub.progress < 100 %}
                        {% set progress_class = '9099' %}
                    {% elseif sub.progress == 100 %}
                        {% set progress_class = '100' %}
                    {% endif %}

                    <div id="progress_buttons_row" class="compact" {# only compact if admin #}>
                        <div class="version_name">{{ sub.version.name }}</div>		
                        <div id="translation_progress_bar">
                            <div class="progress progress_{{ progress_class }}" style="width: {{ max(sub.progress//1, 7) }}%"><div class="progress_percentage">{{ sub.progress // 1}}%</div></div>
                        </div>
                        <div class="subtitle_buttons">
                            <div class="download_subtitle" {# TODO: class should be button wrapper or something! #}><a href="/download/{{ sub.id }}"><i class="fa fa-download" aria-hidden="true"></i></a></div>
                            <div class="edit_subtitle" {# TODO: class should be button wrapper or something! #}><a href="/translate/{{ sub.id }}"><i class="fa fa-file-text" aria-hidden="true"></i></a></div> 
                            {% if auth.has_role('ROLE_MOD') %}
                                <div class="delete_subtitle" {# TODO: class should be button wrapper or something! #}><i class="fa fa-times" aria-hidden="true"></i></div>
                                <div class="antitroll_subtitle"><i class="fa fa-gavel" aria-hidden="true"></i></div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div id="subtitle-actions">
            <a href='/episodes/{{ episode.id }}/resync'>
                <div class="resyncreq_subtitle"><i class="fa fa-refresh" aria-hidden="true"></i></div>
            </a>
            <div id="new-translation">
                <div class="translate_subtitle" {# TODO: class should be button wrapper or something! #}>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>

                <div id="new-translation-opts" class="hidden">
                    <form action="/translate" method="POST">
                        <input type="hidden" name="episode" value="{{ episode.id }}" />
                        <select name="lang" id="translate-to-lang">
                            <option value="1">English</option>
                            <option value="5">Español (España)</option>
                            <option value="6">Español (Latinoamérica)</option>
                        </select>

                        <button type="submit" id="open-translation">Abrir traducción</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="subtitle-comments">
        <h4>Comentarios</h4>

        <template v-for="comment in comments">
            <comment
                :key="comment.id"

                :id="comment.id"
                :user="comment.user"
                :text="comment.text"
                :published-at="comment.published_at"
            >
            </comment>
        </template>

        <div class='newcomment-box'>
            <textarea id="new-comment" v-model="newComment" placeholder="Escribe aquí tu comentario..."></textarea>
            <button :class="{'hidden': newComment == ''}" class="comment-publish" @click="publishComment">Enviar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/timeago.min.js"></script>
    <script type="text/javascript">
        let epId = {{ episode.id }};
        let $newTranslationButton = $(".translate_subtitle");
        $newTranslationButton.on("click", function() {
            $("#new-translation-opts").toggleClass("hidden");
        });

        {% verbatim %}
        Vue.component('comment', {
            template: `
                <article class='comment'>
                    <header>
                        <ul>
                            <li class='comment-user'>
                                <a :href="'/user/' + user.id">{{ user.name }}</a>
                            </li>
                            <li class='comment-time'>
                                {{ date }}
                            </li>
                        </ul>
                    </header>
                    <section class='comment-body'>
                        {{ text }}
                    </section>
                    <section class='comment-actions'>
                    </section>
                </article>
                `,
            
            props: ['user', 'text', 'published-at'],
            data: function() {
                return {
                    date: '',
                }
            },
            created: function() {
                this.update = setInterval(this.updateDate, 10000);
                this.updateDate();
            },
            methods: {
                updateDate: function() {
                    this.date = timeago().format(this.publishedAt, 'es')
                }
            }
        });
        {% endverbatim %}
        
        let comments = new Vue({
            el: '#subtitle-comments',
            data: {
                newComment: '',
                comments: [
                ]
            },
            methods: {
                publishComment: function() {
                    let comment = this.newComment;
                    this.newComment = '';

                    $.ajax({
                        url: '/episodes/'+epId+'/comments/submit',
                        method: 'POST',
                        data: {
                            text: comment
                        }
                    }).done(function() {
                        // Cheap solution: reload the entire comment box
                        loadComments();
                    }).fail(function() {
                        alertify.error("Ha ocurrido un error al enviar tu comentario");
                    });
                }
            }
        });

        function loadComments()
        {
            $.ajax({
                url: '/episodes/'+epId+'/comments',
                method: 'GET'
            }).done(function(reply) {
                comments.comments = reply;
            }).fail(function() {
                alertify.error("Ha ocurrido un error tratando de cargar los comentarios");
            })
        }

        // Start by loading the comments, and set a timer to do so frequently
        loadComments();
        setInterval('loadComments', 60);
    </script>
{% endblock %}