{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Martillo @ {{ subtitle.version.episode.fullname }}{% endblock %}
{% block css %}
    {{ assets.css('hammer') }}
{% endblock %}

{% block content %}
<div id="hammer">
    <h3>Martillo @ <a href="/episodes/{{ subtitle.version.episode.id }}">{{ subtitle.version.episode.fullname }}</a></h3>

    <div class='candidates'>
        Candidatos:
        <ul>
            {% for user in users %}
                <hammertarget id="{{ user[0].id }}" username="{{ user[0].username }}" count="{{ user[1] }}"></hammertarget>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        let subID = {{ subtitle.id }};
    </script>
    {{ assets.js('hammer') }}
{% endblock %}