{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}{{ show_name }}{% endblock %}
{% block css %}
    {{ assets.css('showlist') }}
{% endblock %}

{% block content %}
<div id="showlist">
    <h2>{{ show_name }}</h2>

    <div id='wrapper'>
        <div>
            <ul class="season-tabs">
                {% for season in seasons %}
                    <li><a href="/shows/{{ id }}/{{ season }}" class="{% if cur_season == season %}current{% endif %}">Temporada {{ season }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id='episodes'>
            {% for episode in episodes %}
                <div class='episode'>
                    <div class="episode-name"><a href='/episodes/{{ episode.id }}'>{{ episode.name }}</a></div>
                    {% for lname, lang in episode.langs %}
                        <div class="subtitle-language">{{ lname }}</div>
                        <div class='subtitle'>
                            {% for sub in lang %}
                                <div class='sub'>
                                    {% if sub.progress < 20 %}
                                        {% set progress_class = '019' %}
                                    {% elseif sub.progress < 50 %}
                                        {% set progress_class = '2049' %}
                                    {% elseif sub.progress < 70 %}
                                        {% set progress_class = '5069' %}
                                    {% elseif sub.progress < 80 %}
                                        {% set progress_class = '7079' %}
                                    {% elseif sub.progress < 90 %}
                                        {% set progress_class = '8089' %}
                                    {% elseif sub.progress < 100 %}
                                        {% set progress_class = '9099' %}
                                    {% elseif sub.progress == 100 %}
                                        {% set progress_class = '100' %}
                                    {% endif %}
                                    
                                    <div class='version-name'>{{ sub.version_name }}</div>
                                    <div class='progress_bar'>
                                        <div class="progress progress_{{ progress_class }}" style="width: {{ max(sub.progress//1, 12) }}%"><div class="progress_percentage">{{ sub.progress // 1}}%</div></div>
                                    </div>
                                    <div class="download-subtitle"><a href="/subtitles/{{ sub.id }}/download"><i class="fa fa-download" aria-hidden="true"></i></a></div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}