{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}{{ show.name }} (T{{cur_season}}){% endblock %}
{% block css %}
    {{ assets.css('showlist') }}
{% endblock %}

{% block content %}
<div id="showlist">
    <div class='container'>
        <!-- Breadcrumbs -->
        <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Subtitulamos.tv</a></li>
                <li><a href="/shows/{{ show.id }}">{{ show.name }}</a></li>
                <li class="is-active">
                    <a href="#">Temporada {{ cur_season }}</a>
                </li>
            </ul>
        </nav>

        <!-- Real content -->
        <div id='wrapper'>
            <div class='tabs'>
                <ul>
                    {% if auth.has_role('ROLE_MOD') %}
                        <li><a href="/shows/{{ show.id }}/properties">[Propiedades]</a></li>
                    {% endif %}
                    {% for season in seasons %}
                        <li class="{% if cur_season == season %}is-active{% endif %}">
                            <a href="/shows/{{ show.id }}/season/{{ season }}">Temporada {{ season }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div id='episodes'>
                {% for episode in episodes %}
                    <div class='episode'>
                        <div class="episode-name"><a href='/episodes/{{ episode.id }}'>{{ episode.name }}</a></div>
                        {% for lname, lang in episode.langs %}
                            <div class="subtitle-language">{{ lname }}</div>
                            <div class='subtitle'>
                                {% for sub in lang %}
                                    <div class='sub'>
                                        {% if sub.progress < 20 %}
                                            {% set progress_class = '019' %}
                                        {% elseif sub.progress < 50 %}
                                            {% set progress_class = '2049' %}
                                        {% elseif sub.progress < 70 %}
                                            {% set progress_class = '5069' %}
                                        {% elseif sub.progress < 80 %}
                                            {% set progress_class = '7079' %}
                                        {% elseif sub.progress < 90 %}
                                            {% set progress_class = '8089' %}
                                        {% elseif sub.progress < 100 %}
                                            {% set progress_class = '9099' %}
                                        {% elseif sub.progress == 100 %}
                                            {% set progress_class = '100' %}
                                        {% endif %}

                                        {% set pause_class = sub.pause ? 'paused' : '' %}
                                        {% set can_download = auth.has_role('ROLE_TT') or (not sub.pause and sub.progress == 100) %}

                                        <div class="{{ pause_class }}">
                                            <div class='version-name'>{{ sub.version_name }}</div>
                                            <div class='progress_bar'>
                                                <div class="progress progress_{{ progress_class }}" style="width: {{ max(sub.progress//1, 12) }}%"><div class="progress_percentage">
                                                    {{ sub.progress // 1}}%
                                                    {% if sub.pause %}
                                                        {% if sub.progress >= 100 %}
                                                            <span class='revision-clarify hint--rounded hint--top' data-hint='¡Que esté traducido no implica necesariamente que esté bien! Nuestro objetivo es sacar buenos subtítulos, no ser los más rápidos'>
                                                                (En revisión)
                                                            </span>
                                                        {% elseif sub.progress >= 90 %}
                                                            <span class='revision-clarify hint--rounded hint--top' data-hint='El subtítulo no estará inmediatamente disponible al alcanzar el 100% traducido, sino solo cuando se termine la revisión del mismo'>
                                                                (Pendiente de revisión)
                                                            </span>
                                                        {% endif %}
                                                    {% endif %}
                                                </div></div>
                                            </div>
                                            {% if can_download %}<a href="/subtitles/{{ sub.id }}/download">{% endif %}
                                                <div class="subtitle-action download-subtitle {% if not can_download %}unavailable{% endif %}"><i class="fa fa-download" aria-hidden="true"></i></div>
                                            {% if can_download %}</a>{% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
