{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Traducir {{ sub.version.episode.fullname }}{% endblock %}
{% block css %}
    {{ assets.css('translate') }}
{% endblock %}

{% block content %}
<div id="translation">
    <header>
        Traduciendo <span id="episode-title"><a href='/episodes/{{ sub.version.episode.id }}'>{{ sub.version.episode.fullname }}</a></span>
    </header>

    <div id="translation-details">
        <div id='filters'>
            Filtrar por cadena: <input type="text" id="text-filter" />
            &nbsp;&nbsp;-&nbsp;&nbsp;
            Filtrar por autor:
            <select id='author-filter'>
                <option value="0">Todos</option>
                {% for user in authors %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            &nbsp;&nbsp;-&nbsp;&nbsp;
            <input type='checkbox' id='untranslated-filter'>
            <label for='untranslated-filter'>
                Ver solo secuencias sin traducir
            </label>
            <button type="submit" id="apply" @click="applyFilter">Aplicar</button>
        </div>

        <div class="page-wrapper">
            <pagelist :pages="pages" :cur-page="curPage" :last-page="lastPage"></pagelist>
        </div>

        <table id="sequences">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Autor</th>
                    <th>Tiempos</th>
                    <th>Idioma secundario{#: <span id='secondary-language-name'>English</span> <i class="fa fa-caret-down" aria-hidden="true"></i>#}</th>
                    <th>Traducción al <span id='target-language-name'>{{ sub_lang }}</span></th>
                    <th></th>
                </tr>
            </thead>

            {% verbatim %}
                <template v-for="seq in sequences">
                    <sequence v-for="hseq in seq.history"
                        :key="seq.id + 'hist' + seq.number"

                        :original-id="hseq.id"
                        :number="seq.number"
                        :p-locked="false"
                        :p-verified="false"
                        :original-author="hseq.author"
                        :tstart="hseq.tstart"
                        :tend="hseq.tend"
                        :secondary-text="seq.secondary_text"
                        :original-text="hseq.text"
                        :history="true">
                    ></sequence>

                    <sequence
                        :key="seq.id + '' + seq.number"

                        :original-id="seq.id"
                        :number="seq.number"
                        :p-locked="seq.locked"
                        :p-verified="seq.verified"
                        :original-author="seq.author"
                        :tstart="seq.tstart"
                        :tend="seq.tend"
                        :secondary-text="seq.secondary_text"
                        :original-text="seq.text"
                        :history="false"
                    ></sequence>
                </template>
            {% endverbatim %}
        </table>

        <div class="page-wrapper">
            <pagelist :pages="pages" :cur-page="curPage" :last-page="lastPage"></pagelist>
        </div>

        <div id="translation-locks" v-if="openLocks.length > 0">
            Secuencias abiertas:

            <ul>
                <seqlock v-for="lock in openLocks" :key="lock.id" :id="lock.id" :user="lock.user" :seqnum="lock.seq_number" :time="lock.time"></seqlock>
            </ul>
        </div>
    </div>

    <div id="translation-comments">
        <h4>Comentarios de traducción <span class='comment-refresh'><i class='fa fa-refresh' @click="refresh"></i></span></h4>
        <div class='newcomment-box'>
            <textarea id="new-comment" v-model="newComment" placeholder="Escribe aquí tu comentario..."></textarea>
            <button :class="{'hidden': newComment == ''}" class="comment-publish" @click="publishComment">Enviar</button>
        </div>

        <comment v-for="comment in comments"
            :key="comment.id"
            :id="comment.id"
            :user="comment.user"
            :text="comment.text"
            :published-at="comment.published_at"
            @remove="remove"
        >
        </comment>
    </div>
</div>

<script type="text/javascript">
    let subID = {{ sub.id }};
    let canLock = {{ auth.has_role('ROLE_TH') ? 'true' : 'false'}};
    let canReleaseOpenLock = {{ auth.has_role('ROLE_TH') ? 'true' : 'false'}};
    let pageCount = {{ page_count }};
    let availSecondaryLangs = {{ avail_secondary_langs|raw }};
    let myId = {{ auth.user.id }};
    let myName = "{{ auth.user.username }}";
    let canDeleteComments = {{ auth.has_role('ROLE_MOD') ? 'true' : 'false' }};
</script>
{{ assets.js('translate') }}
{% endblock %}