{% extends "base.twig" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="css/translate.css"/>
{% endblock %}

{% block content %}
<div id="translation">
    {#<div id="episode_title">
        {{ show_name }} <span id="season_number">{% if episode.season < 10 %}0{% endif %}{{ episode.season }}</span>x<span id="episode_number">{% if episode.number < 10 %}0{% endif %}{{ episode.number }}</span> - {{ episode.name }}
    </div>#}
    <div id="translation-details">
        <div class="page-wrapper">
            <ul class="pagination" id="pagination-top">
                <li class="change-page disabled"><a href="#!"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                {% verbatim %}<li v-for="page in pages" class="target-page" :class="page == curPage ? 'active' : ''" :data-page="page">{{ page }}</li>{% endverbatim %}
                {#
                    TODO: Handle the fact that pages might not all fit at the same time?
                    <li class="expand-pages">...</li>
                    <li class="target-page" data-page="40">40</li>
                #}
                <li class="change-page"><a href="#!"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <table id="sequences">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Autor</th>
                    <th>Tiempos</th>
                    <th>Idioma secundario: <span id='secondary-language-name'>English</span> <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                    <th>Traducción al <span id='target-language-name'>Español (España)</span></th>
                    <th></th>
                </tr>
            </thead>

            {% verbatim %}
                <template v-for="seq in sequences">
                    <sequence v-for="hseq in seq.history" 
                        :key="seq.id"

                        :id="hseq.id"
                        :number="seq.number"
                        :p-locked="false"
                        :p-verified="false"
                        :author="hseq.author"
                        :tstart="hseq.tstart"
                        :tend="hseq.tend"
                        :secondary-text="seq.secondary_text"
                        :base-text="hseq.text"
                        :history="true">
                    ></sequence>
                    
                    <sequence 
                        :key="seq.id"
                        
                        :id="seq.id"
                        :number="seq.number"
                        :p-locked="seq.locked"
                        :p-verified="seq.verified"
                        :author="seq.author"
                        :tstart="seq.tstart"
                        :tend="seq.tend"
                        :secondary-text="seq.secondary_text"
                        :base-text="seq.text"
                        :history="false"
                    ></sequence>
                </template>
            {% endverbatim %}
        </table>

        <div class="page-wrapper">
            <ul class="pagination" id="pagination-bottom">
                <li class="change-page disabled"><a href="#!"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                {% verbatim %}<li v-for="page in pages" class="target-page" :class="page == curPage ? 'active' : ''" :data-page="page">{{ page }}</li>{% endverbatim %}
                {#
                    TODO: Handle the fact that pages might not all fit at the same time?
                    <li class="expand-pages">...</li>
                    <li class="target-page" data-page="40">40</li>
                #}
                <li class="change-page"><a href="#!"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>

    <div id="translation-comments">
        <h4>Comentarios de traducción</h4>

        <template v-for="comment in comments">
            <comment
                :key="comment.id"

                :id="comment.id"
                :user="comment.user"
                :text="comment.text"
                :published-at="comment.published_at"
            >
            </comment>
        </template>

        <div class='newcomment-box'>
            <textarea id="new-comment" v-model="newComment" placeholder="Escribe aquí tu comentario..."></textarea>
            <button :class="{'hidden': newComment == ''}" class="comment-publish" @click="publishComment">Enviar</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/timeago.min.js"></script>
<script type="text/javascript">
    let subID = {{ sub.id }};
    let canLock = {{ auth.has_role('ROLE_TH') ? 'true' : 'false'}};
    let pageCount = {{ page_count }};
    let availSecondaryLangs = {{ avail_secondary_langs|raw }};
    
    function loadPage(pageNum, seqView, pageListTop, pageListBottom, secondaryLang) {
        let secondaryFrag = secondaryLang > 0 ? '?secondaryLang='+secondaryLang : '';
        $.ajax({
            url: '/translate/{{ sub.id }}/page/' + pageNum + secondaryFrag,
            method: 'GET'
        }).done(function(pageData) {
            // Prepare sequences
            let sequences = [];
            Object.keys(pageData).forEach(function(k) {
                let sequence = pageData[k];

                // Add some state variables
                sequence.editing = false;
                sequence.canSave = false;
                sequence.lineCounters = [];
                
                sequences.push(sequence);
            });

            seqView.sequences = sequences;

            // Update pagelist
            pageListTop.curPage = pageNum;
            pageListBottom.curPage = pageNum;
        });
    }

    {# FIXME: The template string breaks compatibility for certain browsers (http://caniuse.com/#search=template%20literal) #}
    {% verbatim %}
    Vue.component('sequence', {
        template: `
            <tr :class="{'locked':  locked, 'verified': verified, 'current': !history, 'history': history}">
                <td><span v-if="!history">{{ number }}</span></td>
                <td class="user"><a :href="'/user/' + author.id">{{ author_name }}</a></td>
                <td class="time">{{ tstart | nice_time }} <i class="fa fa-long-arrow-right"></i> {{ tend | nice_time }}</td>
                <td class="text"><pre>{{ secondaryText }}</pre></td>
                <td class="text" @click="editSequence" :class="{'translatable': !history}">
                    <pre v-if="!editing && text">{{ text }}</pre>
                    <pre v-if="!editing && !text" class="untranslated">- Sin traducir -</pre>

                    <textarea v-model.trim="text" v-if="editing"></textarea>
                    <div class="line-status" v-if="editing">
                        <span class="line-counter" :class="lineCounters[0] > 40 ? 'counter-error' : (lineCounters[0] > 30 ? 'counter-warning' : '')">{{ lineCounters[0] }}</span>
                        <span class="line-counter" v-if="lineCounters[1]" :class="lineCounters[1] > 40 ? 'counter-error' : (lineCounters[1] > 30 ? 'counter-warning' : '')">{{ lineCounters[1] }}</span>
                    </div>
                </td>
                <td class="actions">
                    <div v-if="!history && editing">
                        <i class="fa fa-floppy-o" :class="{'disabled': !canSave}" @click="save"></i>
                        <i class="fa fa-times-circle-o" @click="discard"></i>
                    </div>

                    <div v-if="translated && !history && !editing">
                        <!--<i class="fa" @click="toggleVerify" :class="verified ? 'fa-check-circle' : 'fa-question-circle-o'" v-if="!locked"></i>-->
                        <i class="fa" @click="toggleLock" :class="locked ? 'fa-lock' : 'fa-unlock-alt'" v-if="canLock || locked"></i>
                    </div>

                    <div v-if="false && history">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
            `,
        
        props: ['id', 'pLocked', 'pVerified', 'number', 'author', 'tstart', 'tend', 'secondaryText', 'baseText', 'history'],
        data: function() {
            return {
                text: this.baseText,
                locked: this.pLocked,
                verified: this.pVerified,
                canLock: canLock,
                editing: false
            }
        },
        filters: {
            nice_time: function (ms) {
                if (!ms)
                    return '00:00:00.000';

                let h = 0, m = 0, s = 0;
                s = Math.floor(ms/1000);

                h = Math.floor(s/3600);
                s -= h * 3600;
                m = Math.floor(s/60);
                s -= m * 60;

                ms -= (s + m * 60 + h * 3600)*1000;

                let stime = "";
                if(h < 10) stime += "0";
                stime += h+":";
                if(m < 10) stime += "0";
                stime += m+":";
                if(s < 10) stime += "0";
                stime += s+".";
                if(ms < 100) stime += "0";
                if(ms < 10) stime += "0";
                stime += ms;

                return stime;
            }
        },
        computed: {
            lineCounters: function() {
                let lines = this.text.split("\n");
                let lineCounters = [];

                for(let i = 0; i < lines.length; ++i) {
                    lineCounters[i] = lines[i].trim().length;
                }
                
                return lineCounters;
            },

            canSave: function() {
                return !this.history && this.lineCounters.length > 0 && this.lineCounters[0] > 0 && this.lineCounters[0] <= 40
                         && (!this.lineCounters[1] || this.lineCounters[1] <= 40);
            },

            translated: function() {
                return this.id != 0
            },

            author_name: function() {
                return this.author.name ? this.author.name : " - ";
            }
        },
        methods: {
            editSequence: function() {         
                if(this.editing || this.history) {
                    return true; // Already , no effect
                }

                $.ajax({
                    url: '/translate/'+subID+'/open',
                    method: 'POST',
                    data: {
                        seqID: this.id
                    }
                }).done(function(reply) {
                    if(reply.ok) {
                        this.editing = true;
                        this.curText = this.text;
                    } else {
                        alertify.error(reply.msg);
                    }
                }.bind(this));
            },

            save: function() {
                if(!this.canSave)
                    return false;

                if(this.id) {
                    // Editing a sequence, save the changes
                    $.ajax({
                        url: '/translate/'+subID+'/save',
                        method: 'POST',
                        data: {
                            seqID: this.id,
                            text: this.text,
                        }
                    }).fail(function() {
                        alertify.error("Ha ocurrido un error al intentar guardar la secuencia");
                        this.editing = true;
                    }.bind(this));
                } else {
                    // Translating a sequence for the first time
                    $.ajax({
                        url: '/translate/'+subID+'/create',
                        method: 'POST',
                        data: {
                            number: this.number,
                            text: this.text
                        }
                    }).fail(function() {
                        alertify.error("Ha ocurrido un error al intentar guardar la secuencia");
                        this.editing = true;
                    }.bind(this));
                }

                this.editing = false;
            },

            discard: function() {
                // Discard sequence changes
                this.text = this.curText;
                this.editing = false;
            },

            toggleLock: function() {
                if(!canLock) {
                    return false;
                }

                let preLock = this.locked;
                this.locked = !this.locked;

                $.ajax({
                    url: '/translate/'+subID+'/lock',
                    method: 'POST',
                    data: {
                        seqID: this.id
                    }
                }).fail(function() {
                    // Only revert if the request failed
                    this.locked = preLock;
                }.bind(this));
            }
        },
    });
    {% endverbatim %}

    let seqView = new Vue({
        el: '#sequences',
        data: {
            sequences: []
        },
    });

    /**************************
    *        PAGINATION
    ***************************/
    let pageListTop = new Vue({
        el: '#pagination-top',
        data: {
            curPage: 1,
            pages: []
        },
    });

    let pageListBottom = new Vue({
        el: '#pagination-bottom',
        data: {
            curPage: 1,
            pages: []
        },
    });

    for(let p = 1; p < pageCount + 1; ++p) {
        pageListTop.pages.push(p);
        pageListBottom.pages.push(p);
    }
    
    $("#translation").on("click", '[data-page]', function(e) {
        // TODO: Do this properly via Vue events
        loadPage($(this).data("page"), seqView, pageListTop, pageListBottom, availSecondaryLangs[0]);
    });

   /**************************
    *        COMMENTS
    ***************************/

    {# TODO: This code is copy-paste of that of the episode view, unify #}
    {% verbatim %}
    Vue.component('comment', {
        template: `
            <article class='comment'>
                <header>
                    <ul>
                        <li class='comment-user'>
                            <a :href="'/user/' + user.id">{{ user.name }}</a>
                        </li>
                        <li class='comment-time'>
                            {{ date }}
                        </li>
                    </ul>
                </header>
                <section class='comment-body'>
                    {{ text }}
                </section>
                <section class='comment-actions'>
                </section>
            </article>
            `,
        
        props: ['user', 'text', 'published-at'],
        data: function() {
            return {
                date: '',
            }
        },
        created: function() {
            this.update = setInterval(this.updateDate, 10000);
            this.updateDate();
        },
        methods: {
            updateDate: function() {
                this.date = timeago().format(this.publishedAt, 'es')
            }
        }
    });
    {% endverbatim %}
    
    let comments = new Vue({
        el: '#translation-comments',
        data: {
            newComment: '',
            comments: [
            ]
        },
        methods: {
            publishComment: function() {
                let comment = this.newComment;
                this.newComment = '';
                
                $.ajax({
                    url: '/translate/'+subID+'/comments/submit',
                    method: 'POST',
                    data: {
                        text: comment
                    }
                }).done(function() {
                    // Cheap solution: reload the entire comment box
                    loadComments();
                }).fail(function() {
                    alertify.error("Ha ocurrido un error al enviar tu comentario");
                });
            }
        }
    });

    function loadComments()
    {
        $.ajax({
            url: '/translate/'+subID+'/comments',
            method: 'GET'
        }).done(function(reply) {
            comments.comments = reply;
        }).fail(function() {
            alertify.error("Ha ocurrido un error tratando de cargar los comentarios");
        })
    }

    /**
    * Boot
    */
    loadPage(1, seqView, pageListTop, pageListBottom, availSecondaryLangs[0]); // Load first page by default

    loadComments();
    setInterval('loadComments', 30);
</script>
{% endblock %}