{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Subir subtítulo{% endblock %}
{% block css %}
    {{ assets.css('upload') }}
{% endblock %}

{% block content %}
<div id="upload">
    <h2 class="title">Subir subtítulo</h2>

    <div id='upload-rules'>
        <h2 class="subtitle">Normas de subida</h2>

        {% include "rules/rules_upload.twig" %}
    </div>

    <form enctype="multipart/form-data">
        {#{% for error in errors.all() %}
            <li>{{ error }}</li>
        {% endfor %}#}
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Serie</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                        <select id="show-id" name="show-id">
                            <option value="0" disabled selected>Selecciona una serie</option>
                            {% for show in shows %}
                                <option value="{{ show.id }}">{{ show.name }}</option>
                            {% endfor %}
                            <option value="NEW">[Nueva serie]</option>
                        </select>
                        </div>

                        <p id="show-id-status" data-status class="help is-danger hidden"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Episodio</label>
            </div>
            <div class="field-body">
                <div class="field is-normal">
                    <p class="control">
                        <input id="name" name="name" class="input" type="text"
                            placeholder="0x00 - Nombre del episodio"
                            autocomplete="off">
                    </p>
                    <p id="name-status" data-status class="help is-danger hidden"></p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Idioma</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                        <select id="lang" name="lang">
                            <option value="0" disabled selected>Selecciona un idioma</option>
                            {% for lid, lcode in LANG_LIST %}
                                <option value="{{ lcode }}">{{ LANG_NAMES[lcode] }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    <p id="lang-status" data-status class="help is-danger hidden"></p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Versión del vídeo</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input id="version" name="version" class="input" type="text" placeholder="">
                    </p>
                    <p id="version-status" data-status class="help is-danger hidden"></p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Archivo SRT</label>
            </div>
            <div class="field-body">
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input " type="file" id="sub" name="sub" accept=".srt">
                        <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Elige un fichero...
                        </span>
                        </span>
                        <span id="sub-name" class="file-name">
                            *.srt
                        </span>
                    </label>
                    <div id="sub-status" data-status class="help is-danger hidden"></div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Comentarios</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input id="comments" name="comments" class="input"
                               type="text" placeholder="Créditos o notas varias sobre el subtítulo...">
                    </p>
                    <p id="comments-status" data-status class="help is-danger hidden"></p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <div class="field is-centered">
                    <div class="control">
                        <button id="upload-button" class="button is-primary">
                            Subir subtítulo
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<template id="new-show-tpl">
    <div class="field">
        <p class="control is-expanded has-icons-left has-icons-right">
            <input class="input" id="new-show" name="new-show" placeholder="Nombre de la serie..." value="">
            <span class="icon is-small is-left">
                <i class="fa fa-tv"></i>
            </span>
            <span class="icon is-small is-right">
                <i id="status-new-show" class="fa fa-check hidden"></i>
            </span>
        </p>
        <p id="new-show-status" data-status class="help is-danger hidden"></p>
    </div>
</template>

{% endblock %}

{% block scripts %}
    {{ assets.js('upload') }}
{% endblock %}
