{% extends "base.twig" %}
{% import 'macros/assets.twig' as assets %}

{% block title %}Perfil de {{ user.username }}{% endblock %}
{% block css %}
    {{ assets.css('user_profile') }}
{% endblock %}

{% block content %}
<div id="user-profile-wrapper">
    <div id='user-profile'>
        <h2>{{ user.username }}</h2>

        {% if auth.has_role('ROLE_MOD') %}
            <div class='oneline'>
                <h4>Última conexión:</h4>
                <span>
                    {% if user.lastSeen is not null %}
                        {{ user.lastSeen|date('d/M/Y H:i') }}
                    {% else %}
                        Nunca
                    {% endif %}
                </span>
            </div>
            <div class='oneline'>
                <h4>Fecha de registro:</h4>
                <span>
                    {% if user.registeredAt is not null %}
                        {{ user.registeredAt|date('d/M/Y H:i') }}
                    {% else %}
                        Nunca (¿magia?)
                    {% endif %}
                </span>
            </div>
        {% endif %}

        <h4>Capítulos subidos</h4>
        <ul>
            {% for episode in uploaded_episodes %}
                <li><a href="{{ episode.url }}">{{ episode.full_name }}</a></li>
            {% else %}
                {{ user.username }} no ha subido ningún capítulo
            {% endfor %}
        </ul>

        <h4>Capítulos en los que ha colaborado</h4>
        <ul>
            {% for episode in collaborated_episodes %}
                <li><a href="{{ episode.url }}">{{ episode.full_name }}</a></li>
            {% else %}
                {{ user.username }} no ha colaborado en ningún capítulo
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}